<ion-modal-view>
	<ion-header-bar class="bar-calm">
	  <h1 class="title">Añadir servicio</h1>
	  <a class="button button-assertive icon ion-close-round" ng-click="closeModal()">Cerrar</a>
	</ion-header-bar>
	<ion-content class="padding">
	  
	<form name="formInsertServicio">
		<div class="item item-divider">Datos servicio</div>
			<div class="list">

				<label class="item item-input item-select">
				    <div class="input-label"><b>Secciones:</b><span class="asteriscoObligatorio">*</span></div>
				    <select ng-change="getSeccionModal(form.seccionModal)" ng-model="form.seccionModal" ng-options="seccionesModal.nombre for seccionesModal in seccionesModal" required>
				    <option value="">Seleccionar...</option>
				    </select>
			  	</label>

				<label class="item item-input" ng-class="{ 'errorCampoForm' : formInsertServicio.nombreServicio.$invalid && visitedNombre}">
					<span class="input-label"><b>Nombre servicio:</b><span class="asteriscoObligatorio">*</span></span>
					<input type="text" name="nombreServicio" ng-blur="visitedNombre = true" ng-model="form.nombreServicio" required>
				</label>
				<div ng-show="formInsertServicio.nombreServicio.$invalid && visitedNombre">
            		<span class="errorMensajeForm" ng-show="formInsertServicio.nombreServicio.$invalid">Campo obligatorio.</span>
                </div>

			  	<ion-item ng-repeat = "todoItem in todoListElementos">
					<div class="row responsive-md">
					
					<div class="col-5" style="margin-right: 20px;">
						<button class="btnTodo button button-assertive icon ion-minus-round" ng-click="eliminarCategoria($index)"></button>
          			</div>
						
					  <div class="col">
					  	<label class="item item-input">
							<span class="input-label"><b>Categoría:</b><span class="asteriscoObligatorio">*</span></span>
							<input type="text" name="nombreCategoria{{$index}}" ng-model="todoItem.categoria" required>
						</label>
						<div ng-show="formInsertServicio.nombreCategoria{{$index}}.$invalid">
            				<span class="errorMensajeForm" ng-show="formInsertServicio.nombreCategoria{{$index}}.$invalid">Campo obligatorio.</span>
                		</div>
					  </div>

					  <div class="col">
					  	<label class="item item-input">
							<span class="input-label"><b>Precio:</b><span class="asteriscoObligatorio">*</span></span>
							<input type="number" name="precioCategoria{{$index}}" ng-model="todoItem.precio" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
						</label>
						<div ng-show="formInsertServicio.precioCategoria{{$index}}.$invalid">
            				<span class="errorMensajeForm" ng-show="formInsertServicio.precioCategoria{{$index}}.$error.required">Campo obligatorio.</span>
            				<span class="errorMensajeForm" ng-show="formInsertServicio.precioCategoria{{$index}}.$error.pattern">No se admiten numeros negativos y solo dos decimales.</span>
                		</div>
					  </div>

					</div> <!-- FIN ROW -->
				</ion-item>
			</div> <!-- Fin lista -->
<!-- 			<pre>formInsertServicio.$valid = {{ form | json }}</pre>
			<br>
			<pre>Elementos = {{ todoListElementos | json }}</pre>
			<br>	
			<pre>Resputa = {{ respuesta }}</pre> -->

			<div class="col-offset-90">
					<button class="btnTodo button button-balanced icon ion-plus-round" ng-click="anadirCategoria()"></button>
          	</div>

		<div class="row  responsive-sm">
		  	<div class="col">
		  		<button class="button button-block button-positive icon ion-checkmark-round" type="button" ng-disabled="formInsertServicio.$invalid" ng-click="clickInsertarServicio(form)"> Guardar Datos</button>
		  	</div>
		  	<div class="col">
		  		<button class="button button-block button-royal icon ion-refresh" type="reset"> Reiniciar</button>
		  	</div>
		</div>
	</form>

	</ion-content>
</ion-modal-view>


