<ion-view view-title="Perfil Servicio">
	<ion-content class="padding">
		<form name="servicioForm">
			<div class="item item-divider">Datos servicio</div>
			<div class="list">
				<label class="item item-input" ng-class="{ 'errorCampoForm' : servicioForm.nombre.$invalid && visitedNombre}">
						<span class="input-label"><b>Nombre:</b><span class="asteriscoObligatorio">*</span></span>
						<!-- Con ng-init se incializa el ng-model -->
						<input type="text" name="nombre" ng-blur="visitedNombre = true" ng-model="form.nombreServicio" required>
				</label>
				<div ng-show="servicioForm.nombre.$invalid && visitedNombre">
            		<span class="errorMensajeForm" ng-show="servicioForm.nombre.$invalid">Campo obligatorio.</span>
                </div>
			</div>
			<div class="item item-divider">Categorias del servicio</div>
				<ion-item ng-repeat = "elementoServicio in elementosServicioExistentes" for={{elementoServicio}}>
					<div class="row responsive-md">
					
					  <div class="col-5" style="margin-right: 20px;">
						<button class="btnTodo button button-assertive icon ion-minus-round" ng-click="eliminarCategoriaExistentes($index,elementoServicio.id_elemento,elementoServicio.nombreElemento)"></button>
	      			  </div>

					  <div class="col">
					  	<label class="item item-input">
							<span class="input-label"><b>Categoría:</b><span class="asteriscoObligatorio">*</span></span>
							<input type="text" name="nombreCategoria{{$index}}" ng-model="elementoServicio.nombreElemento" required>
						</label>
						<div ng-show="servicioForm.nombreCategoria{{$index}}.$invalid">
            				<span class="errorMensajeForm" ng-show="servicioForm.nombreCategoria{{$index}}.$invalid">Campo obligatorio.</span>
                		</div>
					  </div>

					  <div class="col">
					  	<label class="item item-input">
							<span class="input-label"><b>Precio:</b><span class="asteriscoObligatorio">*</span></span>
							<input type="number" name="precioCategoria{{$index}}" ng-model="elementoServicio.precioVenta" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
						</label>
						<div ng-show="servicioForm.precioCategoria{{$index}}.$invalid">
            				<span class="errorMensajeForm" ng-show="servicioForm.precioCategoria{{$index}}.$error.required">Campo obligatorio.</span>
            				<span class="errorMensajeForm" ng-show="servicioForm.precioCategoria{{$index}}.$error.pattern">No se admiten numeros negativos y solo dos decimales.</span>
                		</div>
					  </div>
					</div> <!-- FIN ROW -->
				</ion-item>

			 <div class="item item-divider">Añadir nueva categoría</div>
				<ion-item ng-repeat = "todoItem in todoListElementosNuevos">
					<div class="row responsive-md">
					  <div class="col-5" style="margin-right: 20px;">
						<button class="btnTodo button button-assertive icon ion-minus-round" ng-click="eliminarNuevaCategoria($index)"></button>
      				  </div>
						
					  <div class="col">
					  	<label class="item item-input">
							<span class="input-label"><b>Nueva categoría:</b><span class="asteriscoObligatorio">*</span></span>
							<input type="text" name="nombreNewCategoria{{$index}}" ng-model="todoItem.newCategoria" required>
						</label>
						<div ng-show="servicioForm.nombreNewCategoria{{$index}}.$invalid">
	        				<span class="errorMensajeForm" ng-show="servicioForm.nombreNewCategoria{{$index}}.$invalid">Campo obligatorio.</span>
	            		</div>
					  </div>

					  <div class="col">
					  	<label class="item item-input">
							<span class="input-label"><b>Precio:</b><span class="asteriscoObligatorio">*</span></span>
							<input type="number" name="precioNewCategoria{{$index}}" ng-model="todoItem.precioVenta" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
						</label>
						<div ng-show="servicioForm.precioNewCategoria{{$index}}.$invalid">
            				<span class="errorMensajeForm" ng-show="servicioForm.precioNewCategoria{{$index}}.$error.required">Campo obligatorio.</span>
            				<span class="errorMensajeForm" ng-show="servicioForm.precioNewCategoria{{$index}}.$error.pattern">No se admiten numeros negativos y solo dos decimales.</span>
                		</div>
					  </div>
					</div> <!-- FIN ROW -->
				</ion-item>

				<div class="row">
					<div class="col-offset-90">
							<button class="btnTodo button button-balanced icon ion-plus-round" ng-click="anadirCategoria()"></button>
		          	</div>
	          	</div>

			<div class="row  responsive-sm">
			  	<div class="col">
			  		<button class="button button-block button-positive icon ion-edit" type="button" ng-disabled="servicioForm.$invalid" ng-click="clickModificarServicio(form)"> Guardar Datos</button>
			  	</div>
			  	<div class="col">
			  		<button class="button button-block button-royal icon ion-refresh" type="button" ng-click="reiniciarForm()"> Reiniciar</button>
			  	</div>
			  	<div class="col">
			  		<button class="button button-block button-assertive icon ion-trash-b" type="button" ng-click="clickEliminarServicio(form.nombreServicio)"> Borrar servicio</button>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>