<ion-view view-title="Caja">
	<ion-content class="padding">
		<form name="cajaForm">
			<div class="item item-divider">Datos venta</div>
			<div class="list">
				
			<div ng-if="ventaNueva ==''">	


		<label class="item item-input item-select">
			<div class="input-label"><b>Tipo cliente:</b><span class="asteriscoObligatorio">*</span></div>
		    <select ng-change="getTipoClienteCaja(tipoInsert.obj)" ng-model="tipoInsert.obj" ng-options="tipoCliente.tipo for tipoCliente in tipoCliente" required>
		    	<!-- options -->
		    </select>
		 </label>
		
		<div ng-if="showTipoCliente == 66">

			<label class="item item-input item-select" ng-class="{ 'errorCampoForm' : cajaForm.nombre.$invalid && visitedNombre}">
			    <div class="input-label"><b>Nombre:</b><span class="asteriscoObligatorio">*</span></div>
			    <select name="nombre" ng-model="form.objClienteExistente" ng-options="nombres.nombre +' '+nombres.apellido1+' '+nombres.apellido2 group by nombres.nombreTipo for nombres in nombres" required>
			    <option value="">Seleccionar...</option>
			    </select>
		  	</label>

			<div ng-show="cajaForm.nombre.$invalid && visitedNombre">
	        	<span class="errorMensajeForm" ng-show="cajaForm.nombre.$invalid">Campo obligatorio.</span>
	        </div>
        </div>

		<div ng-if="showTipoCliente == -77">
			<label class="item item-input" ng-class="{ 'errorCampoForm' : cajaForm.nombre.$invalid && visitedNombre}">
				<span class="input-label"><b>Nombre:</b><span class="asteriscoObligatorio">*</span></span>
				<input type="text" name="nombre" ng-blur="visitedNombre = true" ng-model="form.nombre" required>
			</label>
			<div ng-show="cajaForm.nombre.$invalid && visitedNombre">
        		<span class="errorMensajeForm" ng-show="cajaForm.nombre.$invalid">Campo obligatorio.</span>
            </div>

            <label class="item item-input" ng-class="{ 'errorCampoForm' : cajaForm.apellido1.$invalid && visitedApellido}">
				<span class="input-label"><b>Primer apellido:</b><span class="asteriscoObligatorio">*</span></span>
				<input type="text" name="apellido1" ng-blur="visitedApellido = true" ng-model="form.apellido1" required>
			</label>
			<div ng-show="cajaForm.apellido1.$invalid && visitedApellido">
        		<span class="errorMensajeForm" ng-show="cajaForm.apellido1.$invalid">Campo obligatorio.</span>
            </div>
	  	</div>



		        <label class="item item-input" ng-class="{'errorCampoForm' : cajaForm.fecha.$invalid && visitedFecha}">
				    	<div class="input-label"><b>Fecha cita:</b><span class="asteriscoObligatorio">*</span></div>
				    	<input type="date" ng-model="form.fecha" ng-change="getFecha(form.fecha)" name="fecha" ng-blur="visitedFecha = true" required>
				</label>
				<div ng-show="cajaForm.fecha.$invalid && visitedFecha">
		        		<span class="errorMensajeForm" ng-show="cajaForm.fecha.$invalid">Campo obligatorio.</span>
		       	</div>

		       	<label class="item item-input">
						<span class="input-label"><b>Numero venta:</b><span class="asteriscoObligatorio">*</span></span>
						<input type="text" name="numVenta" ng-model="form.numVenta" ng-disabled="numVenta.$invalid = true" required>
				</label>
		    </div>

			<div ng-if="ventaNueva !=''">
                <label class="item item-input">
						<span class="input-label"><b>Cliente:</b><span class="asteriscoObligatorio">*</span></span>
						<input type="text" name="nombreCli" ng-model="nombreCliente" ng-disabled="nombreCli.$invalid = true" required>
				</label>

		        <label class="item item-input" ng-class="{'errorCampoForm' : cajaForm.fecha.$invalid && visitedFecha}">
				    	<div class="input-label"><b>Fecha cita:</b><span class="asteriscoObligatorio">*</span></div>
				    	<input type="date" ng-model="form.fecha" ng-change="getFecha(form.fecha)" name="fecha" ng-blur="visitedFecha = true" required>
				</label>
				<div ng-show="cajaForm.fecha.$invalid && visitedFecha">
		        		<span class="errorMensajeForm" ng-show="cajaForm.fecha.$invalid">Campo obligatorio.</span>
		       	</div>

			   	<label class="item item-input">
						<span class="input-label"><b>Numero venta:</b><span class="asteriscoObligatorio">*</span></span>
						<input type="text" name="numVenta" ng-model="form.numVenta" ng-disabled="numVenta.$invalid = true" required>
				</label>
			</div>

	       	    <label class="item item-input item-select">
				    <div class="input-label"><b>Empleado:</b><span class="asteriscoObligatorio">*</span></div>
				    <select ng-change="getEmpleado(form.empleado)" ng-model="form.empleado" ng-options="empleados.nombre for empleados in empleados" required>
				    <option value="">Seleccionar...</option>
				    </select>
			  	</label>

			  	<div class="item item-divider">Servicios adquiridos</div>

			  	<ion-item ng-repeat = "todoItem in todoListServicios">
					<div class="row responsive-lg">
					
					<div class="col-10" style="max-width: 3%">
						<button class="btnTodo button button-assertive icon ion-minus-round" style="margin-left: -16px" ng-click="eliminarServicio($index)"></button>
          			</div>

	          			<div class="col">
			          		<label class="item item-input item-select">
							    <div class="input-label"><b>Sección:</b><span class="asteriscoObligatorio">*</span></div>
							    <select name="seccion{{$index}}" ng-model="todoItem.seccion" ng-change="getIdSeccion(todoItem.seccion,{{$index}})" ng-options="secciones.nombre for secciones in secciones track by secciones.nombre" required>
							    <option value="">Seleccionar...</option>
							    </select>
						  	</label>
	          			</div>

	          			<div class="col">
			          		<label class="item item-input item-select">
							    <div class="input-label"><b>Servicio:</b><span class="asteriscoObligatorio">*</span></div>
							    <select id="servicio" name="servicio{{$index}}" ng-model="todoItem.servicio" ng-change="getNombreServicio(todoItem.servicio)" ng-options="servicios{{$index}}.nombreServicio for servicios{{$index}} in servicios{{$index}}" required>
							    <option value="">Seleccionar...</option>
							    </select>
						  	</label>
	          			</div>

	          			<div class="col">
			          		<label class="item item-input item-select">
							    <div class="input-label"><b>Categoría:</b><span class="asteriscoObligatorio">*</span></div>
							    <select name="categoria{{$index}}" ng-model="todoItem.categoria" ng-change="getCategoria(todoItem.categoria,$index)" ng-options="categorias{{$index}}.nombreElemento for categorias{{$index}} in categorias{{$index}}" required>
							    <option value="">Seleccionar...</option>
							    </select>
						  	</label>
	          			</div>

					  <div class="col">
					  	<label class="item item-input">
							<span class="input-label"><b>Precio venta:</b><span class="asteriscoObligatorio">*</span></span>
							<input type="number" name="precioVenta{{$index}}" ng-model="todoItem.precioVenta" ng-change="calcularPrecioTotal($index)" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
						</label>
						<div ng-show="cajaForm.precioVenta{{$index}}.$invalid">
	        				<span class="errorMensajeForm" ng-show="cajaForm.precioVenta{{$index}}.$error.required">Campo obligatorio.</span>
	        				<span class="errorMensajeForm" ng-show="cajaForm.precioVenta{{$index}}.$error.pattern">No se admiten numeros negativos y solo dos decimales.</span>
	            		</div>
					  </div>

					</div> 
				</ion-item> <!-- FIN ROW todoList LineaServicios -->
					<div class="col-offset-90 padding">
							<button class="btnTodo button button-balanced icon ion-plus-round" ng-click="anadirServicio()"></button>
		          	</div>
				<div class="item item-divider">Productos adquiridos</div>
				<ion-item ng-repeat = "todoItem in todoListProductos">
					<div class="row responsive-lg">
					
						<div class="col-10" style="max-width: 3%">
							<button class="btnTodo button button-assertive icon ion-minus-round" style="margin-left: -16px" ng-click="eliminarProducto($index)"></button>
	          			</div>

	          			<div class="col">
			          		<label class="item item-input item-select">
							    <div class="input-label"><b>Marca:</b><span class="asteriscoObligatorio">*</span></div>
							    <select name="marca{{$index}}" ng-model="todoItem.marca" ng-change="getIdMarca(todoItem.marca,{{$index}})" ng-options="marcas.nombre group by marcas.nombreProveedor for marcas in marcas" required>
							    <option value="">Seleccionar...</option>
							    </select>
						  	</label>
	          			</div>

	          			<div class="col">
			          		<label class="item item-input item-select">
							    <div class="input-label"><b>Producto:</b><span class="asteriscoObligatorio">*</span></div>
							    <select name="producto{{$index}}" ng-model="todoItem.producto" ng-change="getIdProducto(todoItem.producto,$index)" ng-options="productos{{$index}}.nombreProducto for productos{{$index}} in productos{{$index}}" required>
							    <option value="">Seleccionar...</option>
							    </select>
						  	</label>
	          			</div>

	          			<div class="col">
						  	<label class="item item-input">
								<span class="input-label"><b>Unidades:</b><span class="asteriscoObligatorio">*</span></span>
								<input type="number" name="unidades{{$index}}" ng-change="calcularPrecioTotal($index)" ng-model="todoItem.unidades" ng-init="todoItem.unidades = 1" ng-pattern="/^[1-9]\d*$/" required>
							</label>
							<div ng-show="cajaForm.unidades{{$index}}.$invalid">
		        				<span class="errorMensajeForm" ng-show="cajaForm.unidades{{$index}}.$error.required">Campo obligatorio.</span>
		        				<span class="errorMensajeForm" ng-show="cajaForm.unidades{{$index}}.$error.pattern">Solo numeros enteros.</span>
		            		</div>
					  	</div>

					  	<div class="col">
						  	<label class="item item-input">
								<span class="input-label"><b>Precio venta:</b><span class="asteriscoObligatorio">*</span></span>
								<input type="number" name="precioVentaProducto{{$index}}" ng-model="todoItem.precioVentaProducto" ng-change="calcularPrecioTotal($index)" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
							</label>
							<div ng-show="cajaForm.precioVentaProducto{{$index}}.$invalid">
		        				<span class="errorMensajeForm" ng-show="cajaForm.precioVentaProducto{{$index}}.$error.required">Campo obligatorio.</span>
		        				<span class="errorMensajeForm" ng-show="cajaForm.precioVentaProducto{{$index}}.$error.pattern">No se admiten numeros negativos y solo dos decimales.</span>
		            		</div>
					  	</div>

	          		</div>

				</ion-item> <!-- FIN ROW todoList LineaProductos -->
					<div class="col-offset-90 padding">
							<button class="btnTodo button button-balanced icon ion-plus-round" ng-click="anadirProducto()"></button>
		          	</div>
			</div> <!-- Fin List -->
			
			<div ng-if="todoListProductos != '' || todoListServicios != ''">
				<div class="row responsive-lg">
					<div class="col">
					  	<label class="item item-input">
							<span class="input-label"><b>Descuento:</b></span>
							<input type="number" name="descuento" ng-model="form.descuento" ng-blur="aplicarDescuento(form.descuento)" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/">
						</label>
					</div>
					<div class="col">

					<label class="item item-input">
						<span class="input-label">Observaciones:</span>

						<textarea placeholder="Algo que añadir..." rows="6" cols="100" name="comment" id="comment-textarea" ng-model="form.observaciones">
      					</textarea>
					</label>
					</div>
					<div class="col" style="margin-top: -21px;">
						<div class="card">
						  <div class="item item-divider">
						    Precio total
						  </div>
						  <div class="item item-text-wrap">
						   <h1 style="text-align: center;">{{precioTotalVenta | currency:'€'}}</h1>
						  </div>
						</div>
					</div>
				</div>
			</div>


			<pre> FORM = {{forma | json}}</pre>

			<div class="row  responsive-sm">
			  	<div class="col">
			  		<button class="button button-block button-positive icon ion-social-euro" type="button" ng-disabled="cajaForm.$invalid" ng-click="realizarVenta(form)"> Realizar venta</button>
			  	</div>
			</div>
		</form>
	</ion-content>
</ion-view>