<ion-view view-title="Ventas">
    <ion-content scroll="false">
    	<form name="ventasForm">
			<label class="item item-input" ng-class="{'errorCampoForm' : ventasForm.fechaDesde.$invalid && visitedfechaDesde}">
				<div class="input-label"><b>Desde:</b><span class="asteriscoObligatorio">*</span></div>
				<input type="date" ng-change="getFechas(fechaDesde,fechaHasta)" ng-model="fechaDesde" name="fechaDesde" ng-blur="visitedfechaDesde = true" required>
			</label>
				<div ng-show="ventasForm.fechaDesde.$invalid && visitedfechaDesde">
				<span class="errorMensajeForm" ng-show="ventasForm.fechaDesde.$invalid">Campo obligatorio.</span>
			</div>

			<label class="item item-input" ng-class="{'errorCampoForm' : ventasForm.fechaHasta.$invalid && visitedfechaHasta}">
				<div class="input-label"><b>Hasta:</b><span class="asteriscoObligatorio">*</span></div>
				<input type="date" ng-change="getFechas(fechaDesde,fechaHasta)" ng-model="fechaHasta" name="fechaHasta" ng-blur="visitedfechaHasta = true" required>
			</label>
			<div ng-show="ventasForm.fechaHasta.$invalid && visitedfechaHasta">
				<span class="errorMensajeForm" ng-show="ventasForm.fechaHasta.$invalid">Campo obligatorio.</span>
			</div>
		</form>
    </ion-content>

	<ion-content style="margin-top: 95px;">
  	<ion-list>
  	  <ion-item class="item-icon-right item-text-wrap" collection-repeat="venta in ventas" href="#/side/perfilVenta/{{venta.id_venta}}">
  	    <i class="icon ion-arrow-right-c"></i>
  	    NºVenta: <b>{{venta.numVenta}}</b> - Fecha: <b>{{venta.fechaVenta}}</b>
  	    <p>Valor venta: {{venta.precioVentaTotal}}€</p>
  	  </ion-item>
  	</ion-list>
  	
  	<div class="card" ng-class="animacion">
      <div class="item item-icon-left msgError">
      <i class="icon ion-alert-circled"></i>
      <span ng-bind-html="mensajeError" class="item-text-wrap"></span>
      </div>
    </div>
	</ion-content>

	

</ion-view>