<div class="bar bar-header bar-dark">
  <h1 class="title"><i class="icon ion-nuclear"></i> Administrar <i class="icon ion-nuclear"></i></h1>
  <button class="button button-clear button-icon ion-log-out" ng-click="cerrarSesion()">Salir</button>
</div>


<ion-content class="has-subheader">
	<h1 ng-bind-html="noUsuarios"></h1>
</ion-content>
<!-- http://codepen.io/felquis/pen/OPdaqK  SHOW PASSWORD-->
<ion-content class="has-header">
	<div class="list">
	    <a class="item item-thumbnail-left  item-icon-right" ng-repeat="item in usuarios" ui-sref="perfilUsuario({ idUsuario: item.id_usuario })">
	      <img src="./img/foto1.jpg">
	      <h2>Usuario: <b>{{item.usuario}}</b></h2>
	      <p>email: {{item.email}}</p>
	      <i class="icon ion-chevron-right"></i>
	    </a>
	</div>
</ion-content>
<a class="btnAnadir button button-icon icon ion-person-add" href="#/signup"></a>