<ion-view view-title="Perfil Sección">
	<ion-content class="padding">
		<form name="seccionForm">
			<div class="item item-divider">Datos sección</div>
			<div class="list">
				<label class="item item-input" ng-class="{ 'errorCampoForm' : seccionForm.nombre.$invalid && visitedNombre}">
						<span class="input-label"><b>Nombre:</b><span class="asteriscoObligatorio">*</span></span>
						<!-- Con ng-init se incializa el ng-model -->
						<input type="text" name="nombre" ng-blur="visitedNombre = true" ng-model="form.nombre" required>
				</label>
				<div ng-show="seccionForm.nombre.$invalid && visitedNombre">
            		<span class="errorMensajeForm" ng-show="seccionForm.nombre.$invalid">Campo obligatorio.</span>
                </div>
			</div>
			<div class="row  responsive-sm">
			  	<div class="col">
			  		<button class="button button-block button-positive icon ion-edit" type="button" ng-disabled="seccionForm.$invalid" ng-click="clickModificarSeccion(form)"> Guardar Datos</button>
			  	</div>
			  	<div class="col">
			  		<button class="button button-block button-royal icon ion-refresh" type="button" ng-click="reiniciarForm()"> Reiniciar</button>
			  	</div>
			  	<div class="col">
			  		<button class="button button-block button-assertive icon ion-trash-b" type="button" ng-click="clickEliminarSeccion(form.nombre)"> Borrar sección</button>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>