<ion-view view-title="Perfil producto"> <!-- view-title: Es el titulo que se muestra en la pestaña del navegador-->

	<ion-content class="padding">

	<form name="formPerfilProducto">
		<div id="fondoImgPerfil">
			<!-- <img ng-show="data.urlFoto !== null" ng-src="{{data.urlFoto}}" alt="{{data.nombre}} {{data.apellido1}}"> -->
			<img ng-show="imgURItemp !== undefined" ng-src="{{imgURItemp}}" alt="{{data.nombre}} {{data.apellido1}}" ng-click="verFoto()">
			<img ng-show="imgURItemp === undefined" ng-src="{{ data.urlFoto || './img/noFoto.png' }}" alt="{{data.nombre}} {{data.apellido1}}" ng-click="verFoto()">
			<button id="btnHacerFoto" class="button icon button-positive icon ion-camera" ng-click="openPopoverFoto($event)"></button>
		</div>
		<div class="item item-divider">Datos producto</div>
			<div class="list">

				<label class="item item-input">
						<span class="input-label"><b>Proveedor:</b></span>
						<input type="text" name="total" ng-model="totalFactura" ng-disabled="total.$invalid = true" required>
				</label>

				<label class="item item-input">
						<span class="input-label"><b>Marca:</b></span>
						<input type="text" name="total" ng-model="totalFactura" ng-disabled="total.$invalid = true" required>
				</label>

				<label class="item item-input">
						<span class="input-label"><b>Nombre producto:</b></span>
						<input type="text" name="total" ng-model="totalFactura" ng-disabled="total.$invalid = true" required>
				</label>

			  	<label class="item item-input">
					<span class="input-label"><b>VentaPrecio/Und:</b><span class="asteriscoObligatorio">*</span></span>
					<input type="number" name="precioVentaUnd" ng-model="todoItem.precioVentaUnd" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
				</label>
				<div ng-show="formPerfilProducto.precioVentaUnd.$invalid">
    				<span class="errorMensajeForm" ng-show="formPerfilProducto.precioVentaUnd.$error.required">Campo obligatorio.</span>
    				<span class="errorMensajeForm" ng-show="formPerfilProducto.precioVentaUnd.$error.pattern">No se admiten numeros negativos y solo dos decimales.</span>
        		</div>

			  	<div class="item item-divider">Datos compra</div>
				<ion-list>
					<ion-item>
						<div class="row responsive-sm">
						<div class="col-5">
							 <label class="numeracionServCliente">1.</label>
						</div>

						  <div class="col">
						  	<label class="item item-input item-select">
							  	<div class="input-label">Modelo de tinte</div>
								    <select>
								      <option selected>Shfarchkoff</option>
								      <option>Loreal</option>
								      <option>Fructis</option>
								      <option>Rayfan</option>
								      <option>Barrta</option>
								      <option>Cara</option>
								    </select>
							</label>
						  </div>

						  	<div class="col">
							  	<label class="item item-input item-select">
							  	<div class="input-label">Numero de tinte</div>
								    <select>
								      <option selected>6</option>
								      <option>6.1</option>
								      <option>7</option>
								      <option>7.1</option>
								      <option>8</option>
								      <option>8.1</option>
								    </select>
								</label>
							</div>

						  <div class="col">
						  	<label class="item item-input">
								<span class="input-label">Fecha de Tinte</span>
								<input type="date">
							</label>
						  </div>

						</div> <!-- FIN ROW -->
					</ion-item>

					<ion-item>
						<div class="row responsive-sm">
						<div class="col-5">
							 <label class="numeracionServCliente">2.</label>
						</div>

						  <div class="col">
						  	<label class="item item-input item-select">
							  	<div class="input-label">Modelo de tinte</div>
								    <select>
								      <option>Shfarchkoff</option>
								      <option selected>Loreal</option>
								      <option>Fructis</option>
								      <option>Rayfan</option>
								      <option>Barrta</option>
								      <option>Cara</option>
								    </select>
							</label>
						  </div>

						  <div class="col">
							  	<label class="item item-input item-select">
							  	<div class="input-label">Numero de tinte</div>
								    <select>
								      <option selected>6</option>
								      <option>6.1</option>
								      <option>7</option>
								      <option>7.1</option>
								      <option>8</option>
								      <option>8.1</option>
								    </select>
								</label>
							</div>

						  <div class="col">
						  	<label class="item item-input">
								<span class="input-label">Fecha de Tinte</span>
								<input type="date">
							</label>
						  </div>

						</div> <!-- FIN ROW -->
					</ion-item>
				</ion-list>

				<div class="item item-divider">Datos venta</div>  	

				<ion-list>
					<ion-item>
						<div class="row responsive-sm">
						<div class="col-5">
							 <label class="numeracionServCliente">1.</label>
						</div>

						  <div class="col">
						  	<label class="item item-input item-select">
							  	<div class="input-label">Modelo de tinte</div>
								    <select>
								      <option selected>Shfarchkoff</option>
								      <option>Loreal</option>
								      <option>Fructis</option>
								      <option>Rayfan</option>
								      <option>Barrta</option>
								      <option>Cara</option>
								    </select>
							</label>
						  </div>

						  	<div class="col">
							  	<label class="item item-input item-select">
							  	<div class="input-label">Numero de tinte</div>
								    <select>
								      <option selected>6</option>
								      <option>6.1</option>
								      <option>7</option>
								      <option>7.1</option>
								      <option>8</option>
								      <option>8.1</option>
								    </select>
								</label>
							</div>

						  <div class="col">
						  	<label class="item item-input">
								<span class="input-label">Fecha de Tinte</span>
								<input type="date">
							</label>
						  </div>

						</div> <!-- FIN ROW -->
					</ion-item>

					<ion-item>
						<div class="row responsive-sm">
						<div class="col-5">
							 <label class="numeracionServCliente">2.</label>
						</div>

						  <div class="col">
						  	<label class="item item-input item-select">
							  	<div class="input-label">Modelo de tinte</div>
								    <select>
								      <option>Shfarchkoff</option>
								      <option selected>Loreal</option>
								      <option>Fructis</option>
								      <option>Rayfan</option>
								      <option>Barrta</option>
								      <option>Cara</option>
								    </select>
							</label>
						  </div>

						  <div class="col">
							  	<label class="item item-input item-select">
							  	<div class="input-label">Numero de tinte</div>
								    <select>
								      <option selected>6</option>
								      <option>6.1</option>
								      <option>7</option>
								      <option>7.1</option>
								      <option>8</option>
								      <option>8.1</option>
								    </select>
								</label>
							</div>

						  <div class="col">
						  	<label class="item item-input">
								<span class="input-label">Fecha de Tinte</span>
								<input type="date">
							</label>
						  </div>

						</div> <!-- FIN ROW -->
					</ion-item>
				</ion-list>

				<div class="row  responsive-sm">
				  	<div class="col">
				  		<button class="button button-block button-positive icon ion-edit" type="button" ng-disabled="formPerfilProducto.$invalid" ng-click="clickModificarProducto(form)"> Guardar cambios</button>
				  	</div>
				  	<div class="col">
				  		<button class="button button-block button-royal icon ion-refresh" type="reset" ng-click="reiniciarForm()"> Reiniciar</button>
				  	</div>
				  	<div class="col">
				  		<button class="button button-block button-assertive icon ion-trash-b" type="button" ng-click="clickEliminarProducto()"> Borrar producto</button>
					</div>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>