<ion-view view-title="Perfil producto"> <!-- view-title: Es el titulo que se muestra en la pestaña del navegador-->

	<ion-content class="padding">

	<form name="formPerfilProducto">
		<div id="fondoImgPerfil">
			<!-- <img ng-show="data.urlFoto !== null" ng-src="{{data.urlFoto}}" alt="{{data.nombre}} {{data.apellido1}}"> -->
			<img ng-show="imgURItemp !== undefined" ng-src="{{imgURItemp}}" alt="{{altNombreFoto}}" ng-click="verFoto()">
			<img ng-show="imgURItemp === undefined" ng-src="{{ fotoProducto || './img/noFoto.png' }}" alt="{{altNombreFoto}}" ng-click="verFoto()">
			<button id="btnHacerFoto" class="button icon button-positive icon ion-camera" ng-click="openPopoverFoto($event)"></button>
		</div>
		<div class="item item-divider">Datos producto</div>
			<div class="list">

				<label class="item item-input">
						<span class="input-label"><b>Proveedor:</b></span>
						<input type="text" name="nombreProveedor" ng-model="datosProducto.nombreProveedor" ng-disabled="nombreProveedor.$invalid = true">
				</label>

				<label class="item item-input">
						<span class="input-label"><b>Marca:</b></span>
						<input type="text" name="nombreMarca" ng-model="datosProducto.nombreMarca" ng-disabled="nombreMarca.$invalid = true">
				</label>

				<label class="item item-input">
						<span class="input-label"><b>Nombre producto:</b></span>
						<input type="text" name="nombreProducto" ng-model="datosProducto.nombreElemento" ng-disabled="nombreProducto.$invalid = true">
				</label>

				<label class="item item-input">
						<span class="input-label"><b>Unides stock:</b></span>
						<input type="text" name="unidades" ng-model="datosProducto.cantidadStock" ng-disabled="unidades.$invalid = true">
				</label>

				<div class="item item-input-inset" ng-class="{ 'errorCampoForm' : formPerfilProducto.precioVentaUnd.$invalid && visitedPrevioVenta}">
					 <label class="item-input-wrapper item-input item-stacked-label" style="background-color: white;">
							<span class="input-label"><b>VentaPrecio/Und:</b><span class="asteriscoObligatorio">*</span></span>
							<input type="number" name="precioVentaUnd" ng-model="datosProducto.precioVenta" ng-blur="visitedPrevioVenta = true" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
					</label>

				    <button class="button button-small button-positive icon ion-edit" type="button" ng-disabled="formPerfilProducto.$invalid" ng-click="clickModificarPrecioVenta(datosProducto.precioVenta)"> Guardar cambios</button>
 			 	</div>
		 		<div ng-show="formPerfilProducto.precioVentaUnd.$invalid && visitedPrevioVenta">
					<span class="errorMensajeForm" ng-show="formPerfilProducto.precioVentaUnd.$error.required">Campo obligatorio.</span>
					<span class="errorMensajeForm" ng-show="formPerfilProducto.precioVentaUnd.$error.pattern">No se admiten numeros negativos y solo dos decimales.</span>
    			</div>

			  	<div class="item item-divider">Datos compra</div>

				<div ng-if="noCompras==1">
					<div class="card" ng-class="animacion">
				      <div class="item item-icon-left msgError">		
				      <i class="icon ion-alert-circled"></i>
				      <span ng-bind-html="mensajeError" class="item-text-wrap"></span>
				      </div>
				    </div>
				</div>

				<div ng-if="noCompras!=1">
					<ion-list>
						<ion-item ng-repeat = "itemProducto in productosCompra" for={{itemProducto}}>
							<div class="row responsive-sm">
								<div class="col-5">
									 <label class="numeracionServCliente">{{$index+1}}.</label>
								</div>

								  <div class="col">
								  	<label class="item item-input">
										<span class="input-label">Unidades:</span>
										<input type="text" name="cantidad" ng-model="itemProducto.cantidad" ng-disabled="cantidad.$invalid = true">
									</label>
								  </div>

								  	<div class="col">
								  	<label class="item item-input">
										<span class="input-label">Precio compra:</span>
										<input type="text" name="precioCompra" ng-model="itemProducto.precioCompra" ng-disabled="precioCompra.$invalid = true">
									</label>
									</div>

								  <div class="col">
								  	<label class="item item-input">
										<span class="input-label">Fecha de compra:</span>
										<input type="date" name="fechaCompra" ng-model="itemProducto.fechaCompra" ng-disabled="fechaCompra.$invalid = true">
									</label>
								  </div>
								  <div class="col-5" style="margin-top: -5px;">
								  	<a class="button icon button-block ion-clipboard button-balanced" href="#/side/perfilFactura/{{itemProducto.idCompra}}/{{itemProducto.nombreProveedor}}"> Ver compra</a>
								  </div>
							</div> <!-- FIN ROW -->
						</ion-item>

					</ion-list>
				</div>

				<div class="item item-divider">Datos venta</div>

				<div ng-if="noVentas==1">
					<div class="card" ng-class="animacion">
				      <div class="item item-icon-left msgError">		
				      <i class="icon ion-alert-circled"></i>
				      <span ng-bind-html="mensajeError" class="item-text-wrap"></span>
				      </div>
				    </div>
				</div>  	

				<div ng-if="noVentas!=1">
					<ion-list>
						<ion-item ng-repeat = "itemProducto in productosVenta" for={{itemProducto}}>
							<div class="row responsive-sm">
								<div class="col-5">
									 <label class="numeracionServCliente">{{$index+1}}.</label>
								</div>

								  <div class="col">
								  	<label class="item item-input">
										<span class="input-label">Unidades:</span>
										<input type="text" name="cantidad" ng-model="itemProducto.cantidad" ng-disabled="cantidad.$invalid = true">
									</label>
								  </div>

								  	<div class="col">
								  	<label class="item item-input">
										<span class="input-label">Precio venta:</span>
										<input type="text" name="precioVenta" ng-model="itemProducto.precioVenta" ng-disabled="precioVenta.$invalid = true">
									</label>
									</div>

								  <div class="col">
								  	<label class="item item-input">
										<span class="input-label">Fecha de venta:</span>
										<input type="date" name="fechaVenta" ng-model="itemProducto.fechaVenta" ng-disabled="fechaVenta.$invalid = true">
									</label>
								  </div>
								  <div class="col-5" style="margin-top: -5px;">
								  	<a class="button icon button-block ion-arrow-graph-up-right button-calm" href="#/side/perfilVenta/{{itemProducto.idVenta}}"> Ver venta</a>
								  </div>
							</div> <!-- FIN ROW -->
						</ion-item>
					</ion-list>
				</div>

				<div class="row  responsive-sm">
				  	<div class="col">
				  		<button class="button button-block button-assertive icon ion-trash-b" type="button" ng-click="clickEliminarProducto(datosProducto.nombreElemento,datosProducto.nombreMarca)"> Borrar producto</button>
					</div>
				</div>
		</form>
	</ion-content>
</ion-view>