<ion-modal-view>
	<ion-header-bar class="bar-calm">
	  <h1 class="title">Añadir cliente</h1>
	  <a class="button button-assertive icon ion-close-round" ng-click="closeModal()">Cerrar</a>
	</ion-header-bar>
	<ion-content>
	  
	<form name="formInsertarCliente">
		<div class="list">
		  <label class="item item-input">
		    <span class="input-label">Nombre</span>
		    <input type="text" ng-model="form.nombre">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Primer apellido</span>
		    <input type="text" ng-model="form.apellido1">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Segundo apellido</span>
		    <input type="text" ng-model="form.apellido2">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Telefono</span>
		    <input type="tel" ng-model="form.telefono">
		  </label>
		</div>

		<div class="row  responsive-sm">
		  	<div class="col">
		  		<button class="button button-block button-positive icon ion-checkmark-round" type="button" ng-click="clickInsertarCliente(form)"> Guardar Datos</button>
		  	</div>
		  	<div class="col">
		  		<button class="button button-block button-royal icon ion-refresh" type="reset"> Reiniciar</button>
		  	</div>
		</div>
	</form>

	</ion-content>
</ion-modal-view>


