<ion-view view-title="Perfil del cliente"> <!-- view-title: Es el titulo que se muestra en la pestaña del navegador-->
	<ion-content class="padding">

	<form name="clinetForm">
		<div id="fondoImgPerfil">
			<img src="./img/foto1.jpg" alt="{{data.nombre}}{{data.apellido1}}">
		</div>
		<div class="item item-divider">Datos personales</div>
			<div class="list">

				<label class="item item-input">
					<span class="input-label">Nombre:</span>
					<input type="text" value="{{data.nombre}}" ng-model="form.nombre">
				</label>

			 	<label class="item item-input">
			    	<span class="input-label">Primer Apellido:</span>
			   		<input type="text" value="{{data.apellido1}}" ng-model="form.apellido1">
			  	</label>

			 	<label class="item item-input">
			    	<span class="input-label">Segundo Apellido:</span>
			    	<input type="text" value="{{data.apellido2}}" ng-model="form.apellido2">
			  	</label>

			  	<label class="item item-input">
			    	<span class="input-label">Telefono:</span>
			    	<input type="tel" value="{{data.telefono}}" ng-model="form.telefono">
			  	</label>

				<div class="item item-divider">Servicios utilizados</div>	  	



			<ion-list>
				<ion-item>
					<div class="row responsive-sm">
					<div class="col-5">
						 <label class="item">1</label>
					</div>

					  <div class="col">
					  	<label class="item item-input item-select">
						  	<div class="input-label">Modelo de tinte</div>
							    <select>
							      <option selected>Shfarchkoff</option>
							      <option>Loreal</option>
							      <option>Fructis</option>
							      <option>Rayfan</option>
							      <option>Barrta</option>
							      <option>Cara</option>
							    </select>
						</label>
					  </div>

					  <div class="col">
						  	<label class="item item-input item-select">
						  	<div class="input-label">Numero de tinte</div>
							    <select>
							      <option selected>6</option>
							      <option>6.1</option>
							      <option>7</option>
							      <option>7.1</option>
							      <option>8</option>
							      <option>8.1</option>
							    </select>
							</label>
						</div>

					  <div class="col">
					  	<label class="item item-input">
							<span class="input-label">Fecha de Tinte</span>
							<input type="date">
						</label>
					  </div>

					</div> <!-- FIN ROW -->
				</ion-item>

				<ion-item>
					<div class="row responsive-sm">
					<div class="col-5">
						 <label class="item">2</label>
					</div>

					  <div class="col">
					  	<label class="item item-input item-select">
						  	<div class="input-label">Modelo de tinte</div>
							    <select>
							      <option>Shfarchkoff</option>
							      <option selected>Loreal</option>
							      <option>Fructis</option>
							      <option>Rayfan</option>
							      <option>Barrta</option>
							      <option>Cara</option>
							    </select>
						</label>
					  </div>

					  <div class="col">
						  	<label class="item item-input item-select">
						  	<div class="input-label">Numero de tinte</div>
							    <select>
							      <option selected>6</option>
							      <option>6.1</option>
							      <option>7</option>
							      <option>7.1</option>
							      <option>8</option>
							      <option>8.1</option>
							    </select>
							</label>
						</div>

					  <div class="col">
					  	<label class="item item-input">
							<span class="input-label">Fecha de Tinte</span>
							<input type="date">
						</label>
					  </div>

					</div> <!-- FIN ROW -->
				</ion-item>
			</ion-list>

				<div class="row  responsive-sm">
				  	<div class="col">
				  		<button class="button icon ion-edit button-positive button-block" type="button" ng-click="clickModificarCliente()"> Guardar Datos</button>
				  	</div>
				  	<div class="col">
				  		<button class="button icon ion-refresh button-royal button-block" type="reset" ng-click="reiniciarForm()"> Reiniciar</button>
				  	</div>
				  	<div class="col">
				  		<button class="button icon ion-trash-b button-assertive button-block" type="button" ng-click="clickEliminarCliente()"> Borrar Cliente</button>
					</div>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>