<ion-view view-title="Servicios">
		
		<ion-content class="padding">
			<label class="item item-input item-select">
			    <div class="input-label">Secciónes</div>
			    <select ng-change="getSeccion(seccion)" ng-model="seccion" ng-options="secciones.nombre for secciones in secciones">
			    </select>
		  	</label>
	  	</ion-content>

		<div class="has-subheader item item-input-inset" style="margin-top: 15px;">
		  <label class="item-input-wrapper">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="search" placeholder="Buscar..." ng-model="buscador">
		  </label>
		  <button class="button button-clear" ng-click="borrarBuscador()">
		    Borrar
		  </button>
		</div>

		<ion-content style="margin-top: 120px;">
		  	<ion-list>
		  	  <ion-item class="item-icon-right" collection-repeat="item in items | filter: buscador" href="#">
		  	    <i class="icon ion-arrow-right-c"></i>
		  	    {{item.servicio}}
		  	    <p>{{item.seccion}}</p>
		  	  </ion-item>
		  	</ion-list>
	  	</ion-content>
      
</ion-view>