<ion-view  title="Regístrate" name="signup-view">
	<ion-nav-bar class="bar-balanced">
	      <ion-nav-back-button class="button button-icon button-clear ion-arrow-left-c">
	       	Atrás
	      </ion-nav-back-button>
	</ion-nav-bar>
      
	  <ion-content class="padding has-header" scroll="true">
		<form name="signupForm" ng-submit="enviarFormulario(form,repetirContrasena)" method="POST" enctype="multipart/form-data">
		<div class="item item-divider">Crear cuenta</div>
			<div class="list">
			  	
			  	<label class="item item-input" ng-class="{ 'errorCampoForm' : signupForm.usuario.$invalid && visitedUsuario}">
			  		<span class="input-label"><b>Usuario:</b> <span class="asteriscoObligatorio">*</span></span>
			    	<input name="usuario" type="text" ng-model="form.usuario" ng-blur="visitedUsuario = true" ng-pattern="/^\s*\w*\s*^[a-zA-Z0-9]*$/" required>
			 	</label>
			 	<div ng-show="signupForm.usuario.$invalid && visitedUsuario">
            		<span class="errorMensajeForm" ng-show="signupForm.usuario.$error.required">Campo obligatorio.</span>
            		<span class="errorMensajeForm" ng-show="signupForm.usuario.$error.pattern">Se admiten solo caracteres y numeros y sin espacios.</span>
                </div>
			
				
				<label class="item item-input" ng-class="{ 'errorCampoForm' : signupForm.contrasena.$invalid && visitedContrasena}">
					<span class="input-label"><b>Contraseña:</b> <span class="asteriscoObligatorio">*</span></span>
					<input name="contrasena" type="password" placeholder="Mínimo 8 caracteres" ng-model="form.contrasena" ng-blur="visitedContrasena = true" required minlength="8">
				</label>
				<div ng-show="signupForm.contrasena.$invalid && visitedContrasena">
            		<span class="errorMensajeForm" ng-show="signupForm.contrasena.$error.required">Campo obligatorio.</span> 
            		<span class="errorMensajeForm" ng-show="signupForm.contrasena.$error.minlength">Mínimo 8 caracteres.</span>
                </div>

				
				<label class="item item-input" ng-class="{ 'errorCampoForm' : signupForm.repetirContrasena.$invalid && visitedRepeatContrasena}">
					<span class="input-label"><b>Repetir Contraseña:</b> <span class="asteriscoObligatorio">*</span></span>
					<input name="repetirContrasena" type="password" placeholder="Mínimo 8 caracteres" ng-model="repetirContrasena" ng-blur="visitedRepeatContrasena = true" required minlength="8">
				</label>
				<div ng-show="signupForm.repetirContrasena.$invalid && visitedRepeatContrasena">
            		<span class="errorMensajeForm" ng-show="signupForm.repetirContrasena.$error.required">Campo obligatorio.</span> 
            		<span class="errorMensajeForm" ng-show="signupForm.repetirContrasena.$error.minlength">Mínimo 8 caracteres.</span>
                </div>

				
				<label class="item item-input" ng-class="{ 'errorCampoForm' : signupForm.nombreEmpresa.$invalid && visitedNombreEmpresa}">
					<span class="input-label"><b>Nombre de empresa:</b> <span class="asteriscoObligatorio">*</span></span>
					<input  name="nombreEmpresa" type="text" ng-model="form.nombreEmpresa" ng-blur="visitedNombreEmpresa = true" required>
				</label>
				<div ng-show="signupForm.nombreEmpresa.$invalid && visitedNombreEmpresa">
            		<span class="errorMensajeForm" ng-show="signupForm.nombreEmpresa.$error.required">Campo obligatorio.</span> 
                </div>

				
				<label class="item item-input" ng-class="{ 'errorCampoForm' : signupForm.email.$invalid && visitedEmail}">
					<span class="input-label"><b>Correo electrónico:</b> <span class="asteriscoObligatorio">*</span></span>
					<input name="email" type="email" ng-model="form.email" ng-blur="visitedEmail = true" required>
				</label>
				<div ng-show="signupForm.email.$invalid && visitedEmail">
            		<span class="errorMensajeForm" ng-show="signupForm.email.$error.required">Campo obligatorio.</span> 
            		<span class="errorMensajeForm" ng-show="signupForm.email.$error.email">El correo electrónico es incorrecto.</span>
                </div>

				<!-- type='file' no funciona -->
<!-- 
                <label class="item item-input">
                	<span class="input-label"><b>Foto perfil:</b></span></span>
                	<input name="subirFoto" type="file" ng-model="form.subirFoto">
                </label> -->

			  	<button type="submit" class="button button-block button-positive" ng-disabled="signupForm.$invalid">Registrar</button>
			  	
			</div>
		</form>
	  </ion-content>

</ion-view>