<ion-view view-title="Empleados">


	<div class="bar miBar-subheader item item-input-inset">
	  <label class="item-input-wrapper">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input type="search" placeholder="Buscar..." ng-model="buscador">
	  </label>
	  <button class="button button-clear" ng-click="borrarBuscador()">
	    Borrar
	  </button>
	</div>
	
	<ion-content class="has-subheader">
		<div class="card" ng-class="animacion">
	      <div class="item item-icon-left msgError">		
	      <i class="icon ion-alert-circled"></i>
	      <span ng-bind-html="mensajeError" class="item-text-wrap"></span>
	      </div>
	    </div>
	</ion-content>

	<ion-content class="has-subheader">
		<ion-list>
			<ion-item class="item item-icon-right" collection-repeat="item in Empleados | filter: buscador" href="#/side/perfilEmpleado/{{item.id_empleado}}">
				<h2>{{item.nombre}} {{item.apellido1}} {{item.apellido2}}</h2>
				<p>+{{item.telefono}}</p>
				<a class="button button-icon icon ion-android-call" href="tel:{{item.telefono}}" target="_blank"></a>
			</ion-item>
		</ion-list>
	</ion-content>

	<button class="btnAnadir button button-positive icon ion-person-add" ng-click="openModalEmpleados()"></button>

</ion-view>
