<ion-modal-view>
	<ion-header-bar class="bar-calm">
	  <h1 class="title">Añadir empleado</h1>
	  <a class="button button-assertive icon ion-close-round" ng-click="closeModal()">Cerrar</a>
	</ion-header-bar>
	<ion-content class="padding">
	  
	<form name="formInsertEmpleado">
		<div class="item item-divider">Datos empleado</div>
			<div class="list">

				<label class="item item-input" ng-class="{ 'errorCampoForm' : formInsertEmpleado.nombre.$invalid && visitedNombre}">
					<span class="input-label"><b>Nombre:</b><span class="asteriscoObligatorio">*</span></span>
					<input type="text" name="nombre" ng-blur="visitedNombre = true" ng-model="form.nombre" required>
				</label>
				<div ng-show="formInsertEmpleado.nombre.$invalid && visitedNombre">
            		<span class="errorMensajeForm" ng-show="formInsertEmpleado.nombre.$invalid">Campo obligatorio.</span>
                </div>

				<label class="item item-input">
					<span class="input-label"><b>Primer apellido:</b></span>
					<input type="text" name="apellido1" ng-model="form.apellido1">
				</label>

				<label class="item item-input">
					<span class="input-label"><b>Segundo apellido:</b></span>
					<input type="text" name="apellido2" ng-model="form.apellido2">
				</label>

				<label class="item item-input" ng-class="{ 'errorCampoForm' : formInsertEmpleado.telefono.$invalid && visitedTel}">
			    	<span class="input-label"><b>Telefono:</b></span>
			    	<input type="tel" name="telefono" ng-model="form.telefono" ng-blur="visitedTel = true" minlength="9" maxlength="9">
			  	</label>
			  	<div ng-show="formInsertEmpleado.telefono.$invalid && visitedTel">
            		<div class="errorMensajeForm" ng-show="formInsertEmpleado.telefono.$error.minlength">El numero de telefono tiene que tener 9 digitos.</div>
                </div>


		<div class="row  responsive-sm">
		  	<div class="col">
		  		<button class="button button-block button-positive icon ion-checkmark-round" type="button" ng-disabled="formInsertEmpleado.$invalid" ng-click="clickInsertarEmpleado(form)"> Guardar Datos</button>
		  	</div>
		  	<div class="col">
		  		<button class="button button-block button-royal icon ion-refresh" type="reset"> Reiniciar</button>
		  	</div>
		</div>
	</form>

	</ion-content>
</ion-modal-view>


