<ion-view view-title="Perfil Empleado">
	<ion-content class="padding">
		<form name="empleadoForm">
			<div class="item item-divider">Datos Empleado</div>
			<div class="list">
				<label class="item item-input" ng-class="{ 'errorCampoForm' : empleadoForm.nombre.$invalid && visitedNombre}">
						<span class="input-label"><b>Nombre:</b><span class="asteriscoObligatorio">*</span></span>
						<!-- Con ng-init se incializa el ng-model -->
						<input type="text" name="nombre" ng-blur="visitedNombre = true" ng-model="form.nombre" required>
				</label>
				<div ng-show="empleadoForm.nombre.$invalid && visitedNombre">
            		<span class="errorMensajeForm" ng-show="empleadoForm.nombre.$invalid">Campo obligatorio.</span>
                </div>

				<label class="item item-input">
					<span class="input-label"><b>Primer apellido:</b></span>
					<input type="text" name="apellido1" ng-model="form.apellido1">
				</label>

				<label class="item item-input">
					<span class="input-label"><b>Segundo apellido:</b></span>
					<input type="text" name="apellido2" ng-model="form.apellido2">
				</label>

				<label class="item item-input" ng-class="{ 'errorCampoForm' : empleadoForm.telefono.$invalid && visitedTel}">
			    	<span class="input-label"><b>Telefono:</b></span>
			    	<input type="tel" name="telefono" ng-model="form.telefono" ng-blur="visitedTel = true" minlength="9" maxlength="9">
			  	</label>
			  	<div ng-show="empleadoForm.telefono.$invalid && visitedTel">
            		<div class="errorMensajeForm" ng-show="empleadoForm.telefono.$error.minlength">El numero de telefono tiene que tener 9 digitos.</div>
                </div>
			</div>

			<div class="row  responsive-sm">
			  	<div class="col">
			  		<button class="button button-block button-positive icon ion-edit" type="button" ng-disabled="empleadoForm.$invalid" ng-click="clickModificarEmpleado(form)"> Guardar cambios</button>
			  	</div>
			  	<div class="col">
			  		<button class="button button-block button-royal icon ion-refresh" type="button" ng-click="reiniciarForm()"> Reiniciar</button>
			  	</div>
			  	<div class="col">
			  		<button class="button button-block button-assertive icon ion-trash-b" type="button" ng-click="clickEliminarEmpleado()"> Borrar empleado</button>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>