<ion-view view-title="Perfil del cliente"> <!-- view-title: Es el titulo que se muestra en la pestaña del navegador-->

	<ion-content class="padding"  scroll="true">

	<form name="clienteForm">
		<div id="fondoImgPerfil">
			<!-- <img ng-show="data.urlFoto !== null" ng-src="{{data.urlFoto}}" alt="{{data.nombre}} {{data.apellido1}}"> -->
			<img ng-if="imgURItemp !== undefined" ng-src="{{imgURItemp}}" alt="{{data.nombre}} {{data.apellido1}}" ng-click="verFoto()">
			<img ng-if="imgURItemp === undefined" ng-src="{{ data.urlFoto || './img/noFoto.png' }}" alt="{{data.nombre}} {{data.apellido1}}" ng-click="verFoto()">
			<button id="btnHacerFoto" class="button icon button-positive icon ion-camera" ng-click="openPopoverFoto($event)"></button>
		</div>
		<div class="item item-divider">Datos cliente</div>
			<div class="list">

				<label class="item item-input" ng-class="{ 'errorCampoForm' : clienteForm.nombre.$invalid && visitedNombre}">
					<span class="input-label"><b>Nombre:</b><span class="asteriscoObligatorio">*</span></span>
					<input type="text" name="nombre" value="{{data.nombre}}" ng-blur="visitedNombre = true" ng-model="form.nombre" required>
				</label>
				<div ng-show="clienteForm.nombre.$invalid && visitedNombre">
            		<span class="errorMensajeForm" ng-show="clienteForm.nombre.$invalid">Campo obligatorio.</span>
                </div>

			  	<label class="item item-input" ng-class="{ 'errorCampoForm' : clienteForm.apellido1.$invalid && visitedApellido}">
					<span class="input-label"><b>Primer apellido:</b><span class="asteriscoObligatorio">*</span></span>
					<input type="text" value="{{data.apellido1}}" name="apellido1" ng-blur="visitedApellido = true" ng-model="form.apellido1" required>
				</label>
				<div ng-show="clienteForm.apellido1.$invalid && visitedApellido">
            		<span class="errorMensajeForm" ng-show="clienteForm.apellido1.$invalid">Campo obligatorio.</span>
                </div>

			 	<label class="item item-input">
			    	<span class="input-label"><b>Segundo apellido:</b></span>
			    	<input type="text" value="{{data.apellido2}}" ng-model="form.apellido2">
			  	</label>

			  	<label class="item item-input" ng-class="{ 'errorCampoForm' : clienteForm.telefono.$invalid && visitedTel}">
			    	<span class="input-label"><b>Teléfono:</b></span>
			    	<input type="tel" name="telefono" value="{{data.telefono}}" ng-model="form.telefono" ng-blur="visitedTel = true" minlength="9" maxlength="9">
			  	</label>
			  	<div ng-show="clienteForm.telefono.$invalid && visitedTel">
            		<div class="errorMensajeForm" ng-show="clienteForm.telefono.$error.minlength">El número de teléfono tiene que tener 9 dígitos.</div>
                </div>

                <label class="item item-input" ng-class="{ 'errorCampoForm' : clienteForm.email.$invalid && visitedEmail}">
					<span class="input-label"><b>Correo electrónico:</b></span>
					<input name="email" type="email" value="{{data.email}}" ng-model="form.email" ng-blur="visitedEmail = true">
				</label>
				<div ng-show="clienteForm.email.$invalid && visitedEmail"> 
            		<span class="errorMensajeForm" ng-show="clienteForm.email.$invalid">El correo electrónico es incorrecto.</span>
                </div>

                <ion-radio ng-model="form.idTipo" ng-value="66"><b>Cliente existente</b></ion-radio>
  				<ion-radio ng-model="form.idTipo" ng-value="-77"><b>Cliente genérico</b></ion-radio>

		        <div class="row row-center responsive-md">
		        <div class="col">
		        	<button class="button icon ion-chevron-left" ng-click="nextSlide()"></button>
		        </div>
		        <div class="col-90">
				<ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="false">
				  <ion-slide ng-repeat="item in servicios track by $index">
					
					<div class="list card">
						
						<div class="item item-divider item-text-wrap">Servicios utilizados en {{fechaVenta | date:'dd/MM/yyyy'}} con Nº Venta: {{numVenta}}</div>
						  <div class="item item-text-wrap" ng-repeat="item1 in servicios[$index] | filter: { nombreServicio: '' }">{{item1.idVenta}} <b>Sección: </b>{{item1.nombreSeccion}} <b>Servicio: </b>{{item1.nombreServicio}} {{item1.nombreElemento}} <b>Precio de venta: </b>{{item1.precioVentaUnd | currency:"€"}}
							</div>
						  
						  <div class="item item-divider item-text-wrap">Productos adqueridos en {{fechaVenta | date:'dd/MM/yyyy'}} con Nº Venta: {{numVenta}}</div>
						 <div ng-if="noProductos!=-1" class="item item-text-wrap" ng-repeat="item1 in servicios[$index] | filter: { nombreProducto: '' }">
						    {{item1.idVenta}} <b>Nombre: </b>{{item1.nombreMarca}} {{item1.nombreProducto}}  <b>Unidades: </b>{{item1.cantidad}} <b>Precio de venta: </b>{{item1.precioVentaUndProducto | currency:"€"}}
						  </div>
						  <div ng-if="noProductos==-1">
							<div class="card" ng-class="animacion">
						      <div class="item item-icon-left msgError">		
						      <i class="icon ion-alert-circled"></i>
						      <span ng-bind-html="mensajeError" class="item-text-wrap"></span>
						      </div>
						    </div>
						  </div>

						  	<div class="item item-divider">Observaciones</div>
							<div class="item item-text-wrap" ng-repeat="item1 in servicios[$index] | filter: { observaciones: '' }">
							{{item1.observaciones}}
							</div>
					</div>


				  </ion-slide>
				</ion-slide-box>

		        </div>
		        <div class="col col col-offset-70">
		        	<button class="button icon ion-chevron-right" ng-click="previousSlide()"></button>
		        </div>
		        </div> 	





				<div class="row  responsive-sm">
				  	<div class="col">
				  		<button class="button button-block button-positive icon ion-edit" type="button" ng-disabled="clienteForm.$invalid" ng-click="clickModificarCliente(form)"> Guardar cambios</button>
				  	</div>
				  	<div class="col">
				  		<button class="button button-block button-royal icon ion-refresh" type="reset" ng-click="reiniciarForm()"> Reiniciar</button>
				  	</div>
				  	<div class="col">
				  		<button class="button button-block button-assertive icon ion-trash-b" type="button" ng-click="clickEliminarCliente()"> Borrar cliente</button>
					</div>
				</div>
			</div>
		</form>
	</ion-content>
<!-- 				<ion-content scroll="false">
				  <ion-slides  options="options" slider="data.slider" show-pager="false">
				    <ion-slide-page>
				     	<div class="item test">
		                 <i class="icon ion-chevron-left"></i>  <span><h1>BLUE</h1></span> <i class="icon ion-chevron-right"></i>
		               </div>	
				    </ion-slide-page>
				    <ion-slide-page>
				      <div class="item test">
		                 <i class="icon ion-chevron-left"></i>  <span><h1>RED</h1></span> <i class="icon ion-chevron-right"></i>
		               </div>	
				    </ion-slide-page>
				    <ion-slide-page>
				      <div class="item test">
		                 <i class="icon ion-chevron-left"></i>  <span><h1>GREEN</h1></span> <i class="icon ion-chevron-right"></i>
		               </div>	
				    </ion-slide-page>
				  </ion-slides>
				</ion-content> -->
</ion-view>