<ion-view view-title="Perfil del cliente"> <!-- view-title: Es el titulo que se muestra en la pestaña del navegador-->

	<ion-content class="padding">

	<form name="clienteForm">
		<div id="fondoImgPerfil">
			<!-- <img ng-show="data.urlFoto !== null" ng-src="{{data.urlFoto}}" alt="{{data.nombre}} {{data.apellido1}}"> -->
			<img ng-show="imgURItemp !== undefined" ng-src="{{imgURItemp}}" alt="{{data.nombre}} {{data.apellido1}}" ng-click="verFoto()">
			<img ng-show="imgURItemp === undefined" ng-src="{{ data.urlFoto || './img/noFoto.png' }}" alt="{{data.nombre}} {{data.apellido1}}" ng-click="verFoto()">
			<button id="btnHacerFoto" class="button icon button-positive icon ion-camera" ng-click="openPopoverFoto($event)"></button>
		</div>
		<div class="item item-divider">Datos cliente</div>
			<div class="list">

				<label class="item item-input" ng-class="{ 'errorCampoForm' : clienteForm.nombre.$invalid && visitedNombre}">
					<span class="input-label"><b>Nombre:</b><span class="asteriscoObligatorio">*</span></span>
					<input type="text" name="nombre" value="{{data.nombre}}" ng-blur="visitedNombre = true" ng-model="form.nombre" required>
				</label>
				<div ng-show="clienteForm.nombre.$invalid && visitedNombre">
            		<span class="errorMensajeForm" ng-show="clienteForm.nombre.$invalid">Campo obligatorio.</span>
                </div>

			 	<label class="item item-input">
			    	<span class="input-label"><b>Primer Apellido:</b></span>
			   		<input type="text" value="{{data.apellido1}}" ng-model="form.apellido1">
			  	</label>

			 	<label class="item item-input">
			    	<span class="input-label"><b>Segundo Apellido:</b></span>
			    	<input type="text" value="{{data.apellido2}}" ng-model="form.apellido2">
			  	</label>

			  	<label class="item item-input" ng-class="{ 'errorCampoForm' : clienteForm.telefono.$invalid && visitedTel}">
			    	<span class="input-label"><b>Telefono:</b></span>
			    	<input type="tel" name="telefono" value="{{data.telefono}}" ng-model="form.telefono" ng-blur="visitedTel = true" minlength="9" maxlength="9">
			  	</label>
			  	<div ng-show="clienteForm.telefono.$invalid && visitedTel">
            		<div class="errorMensajeForm" ng-show="clienteForm.telefono.$error.minlength">El numero de telefono tiene que tener 9 digitos.</div>
                </div>

                <label class="item item-input" ng-class="{ 'errorCampoForm' : clienteForm.email.$invalid && visitedEmail}">
					<span class="input-label"><b>Correo electronico:</b></span>
					<input name="email" type="email" value="{{data.email}}" ng-model="form.email" ng-blur="visitedEmail = true">
				</label>
				<div ng-show="clienteForm.email.$invalid && visitedEmail"> 
            		<span class="errorMensajeForm" ng-show="clienteForm.email.$invalid">El correo electronico es incorrecto.</span>
                </div>

			  	<pre>{{imgURI}}</pre>
			  	<br>
			  	<pre>{{opciones}}</pre>
			  	<br>
			  	<pre>{{uploadOptions1}}</pre>

				<div class="item item-divider">Servicios utilizados</div>	  	

				<ion-list>
					<ion-item>
						<div class="row responsive-sm">
						<div class="col-5">
							 <label class="numeracionServCliente">1.</label>
						</div>

						  <div class="col">
						  	<label class="item item-input item-select">
							  	<div class="input-label">Modelo de tinte</div>
								    <select>
								      <option selected>Shfarchkoff</option>
								      <option>Loreal</option>
								      <option>Fructis</option>
								      <option>Rayfan</option>
								      <option>Barrta</option>
								      <option>Cara</option>
								    </select>
							</label>
						  </div>

						  	<div class="col">
							  	<label class="item item-input item-select">
							  	<div class="input-label">Numero de tinte</div>
								    <select>
								      <option selected>6</option>
								      <option>6.1</option>
								      <option>7</option>
								      <option>7.1</option>
								      <option>8</option>
								      <option>8.1</option>
								    </select>
								</label>
							</div>

						  <div class="col">
						  	<label class="item item-input">
								<span class="input-label">Fecha de Tinte</span>
								<input type="date">
							</label>
						  </div>

						</div> <!-- FIN ROW -->
					</ion-item>

					<ion-item>
						<div class="row responsive-sm">
						<div class="col-5">
							 <label class="numeracionServCliente">2.</label>
						</div>

						  <div class="col">
						  	<label class="item item-input item-select">
							  	<div class="input-label">Modelo de tinte</div>
								    <select>
								      <option>Shfarchkoff</option>
								      <option selected>Loreal</option>
								      <option>Fructis</option>
								      <option>Rayfan</option>
								      <option>Barrta</option>
								      <option>Cara</option>
								    </select>
							</label>
						  </div>

						  <div class="col">
							  	<label class="item item-input item-select">
							  	<div class="input-label">Numero de tinte</div>
								    <select>
								      <option selected>6</option>
								      <option>6.1</option>
								      <option>7</option>
								      <option>7.1</option>
								      <option>8</option>
								      <option>8.1</option>
								    </select>
								</label>
							</div>

						  <div class="col">
						  	<label class="item item-input">
								<span class="input-label">Fecha de Tinte</span>
								<input type="date">
							</label>
						  </div>

						</div> <!-- FIN ROW -->
					</ion-item>
				</ion-list>

				<div class="row  responsive-sm">
				  	<div class="col">
				  		<button class="button button-block button-positive icon ion-edit" type="button" ng-disabled="clienteForm.$invalid" ng-click="clickModificarCliente(form)"> Guardar cambios</button>
				  	</div>
				  	<div class="col">
				  		<button class="button button-block button-royal icon ion-refresh" type="reset" ng-click="reiniciarForm()"> Reiniciar</button>
				  	</div>
				  	<div class="col">
				  		<button class="button button-block button-assertive icon ion-trash-b" type="button" ng-click="clickEliminarCliente()"> Borrar cliente</button>
					</div>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>