<ion-modal-view>
	<ion-header-bar class="bar-calm">
	  <h1 class="title">Añadir factura</h1>
	  <a class="button button-assertive icon ion-close-round" ng-click="closeModal()">Cerrar</a>
	</ion-header-bar>
	<ion-content class="padding">
	  
	<form name="formInsertCompra">
		<div class="item item-divider">Datos factura</div>
			<div class="list">

				<label class="item item-select">
				    <div class="input-label"><b>Proveedor:</b><span class="asteriscoObligatorio">*</span></div>
				    <select ng-change="getProveedorModal(form.proveedorModal)" ng-model="form.proveedorModal" ng-options="proveedoresModal.nombre group by proveedoresModal.nombreMarca for proveedoresModal in proveedoresModal" required>
				    <option value="">Seleccionar...</option>
				    </select>
			  	</label>

				<label class="item item-input" ng-class="{ 'errorCampoForm' : formInsertCompra.numFactura.$invalid && visitedNumFac}">
					<span class="input-label"><b>Nº Factura:</b><span class="asteriscoObligatorio">*</span></span>
					<input type="text" name="numFactura" ng-blur="visitedNumFac = true" ng-model="form.numFactura" required>
				</label>
				<div ng-show="formInsertCompra.numFactura.$invalid && visitedNumFac">
            		<span class="errorMensajeForm" ng-show="formInsertCompra.numFactura.$invalid">Campo obligatorio.</span>
                </div>

		        <label class="item item-input item-stacked-label" ng-class="{ 'errorCampoForm' : formInsertCompra.fecha.$invalid && visitedFecha}">
				    <span class="input-label"><b>Fecha de factura:</b><span class="asteriscoObligatorio">*</span></span>
				    <input type="date" name="fecha" ng-model="form.fechaCompra" ng-blur="visitedFecha = true" required>
				</label>
				<div ng-show="formInsertCompra.fecha.$invalid && visitedFecha">
	        		<span class="errorMensajeForm" ng-show="formInsertCompra.fecha.$invalid">Campo obligatorio.</span>
	       	  	</div>

				<div class="item item-divider item-text-wrap">Líneas de factura: <span style="color: red">El IVA del 21% se aplicará automaticamente.</span></div>

			  	<ion-item ng-repeat = "todoItem in todoListLineasCompra">
					<div class="row responsive-lg">
					
					<div class="col-10" style="max-width: 3.5%">
						<button class="btnTodo button button-assertive icon ion-minus-round" style="margin-left: -16px" ng-click="eliminarLineaCompra($index)"></button>
          			</div>

	          			<div class="col micol-22">
			          		<label class="item item-input item-select">
							    <div class="input-label"><b>Marca:</b><span class="asteriscoObligatorio">*</span></div>
							    <select ng-model="todoItem.marca" ng-change="getIdMarca(todoItem.marca,$index)" ng-options="marcas.nombre for marcas in marcas" required>
							    <option value="">Seleccionar...</option>
							    </select>
						  	</label>
	          			</div>

						
					  	<div class="col">
					  		<label class="item item-input  item-select">
							    <div class="input-label"><b>Tipo producto:</b><span class="asteriscoObligatorio">*</span></div>
							    <select ng-model="idTipo" ng-change="getTipoProducto(todoItem.marca,idTipo,$index)" required>
							    <option value="">Seleccionar...</option>
							    <option value="1">Existente</option>
							    <option value="2">Nuevo</option>
							    </select>
						  	</label>

							<div ng-if="todoItem.showTipo==1">
								<label class="item item-input item-select">
								    <div class="input-label"><b>Producto:</b><span class="asteriscoObligatorio">*</span></div>
								    <select name="producto{{$index}}" ng-model="todoItem.producto" ng-change="getIdProducto(todoItem.producto,$index)" ng-options="productos{{$index}}.nombreProducto for productos{{$index}} in productos{{$index}}" required>
								    <option value="">Seleccionar...</option>
								    </select>
							  	</label>
								<div ng-show="formInsertCompra.producto{{$index}}.$invalid">
			        				<span class="errorMensajeForm" ng-show="formInsertCompra.producto{{$index}}.$invalid">Campo obligatorio.</span>
			            		</div>
							</div>

							<div ng-if="todoItem.showTipo==2">
								<label class="item item-input item-stacked-label" style="margin-top: 4px;">
									<span class="input-label"><b>Nombre producto:</b><span class="asteriscoObligatorio">*</span></span>
									<input type="text" name="nombreProducto{{$index}}" ng-model="todoItem.nombreProducto" required>
								</label>
								<div ng-show="formInsertCompra.nombreProducto{{$index}}.$invalid">
			        				<span class="errorMensajeForm" ng-show="formInsertCompra.nombreProducto{{$index}}.$invalid">Campo obligatorio.</span>
			            		</div>
							</div>
					  	</div>

					  <div class="col micol-4">
					  	<label class="item item-input item-stacked-label">
							<span class="input-label"><b>Unidades:</b><span class="asteriscoObligatorio">*</span></span>
							<input type="number" name="unidades{{$index}}" ng-model="todoItem.unidades" ng-init="todoItem.unidades = 1" ng-pattern="/^\d*$/" required>
						</label>
						<div ng-show="formInsertCompra.unidades{{$index}}.$invalid">
	        				<span class="errorMensajeForm" ng-show="formInsertCompra.unidades{{$index}}.$error.required">Campo obligatorio.</span>
	        				<span class="errorMensajeForm" ng-show="formInsertCompra.unidades{{$index}}.$error.pattern">Solo numeros enteros.</span>
	            		</div>
					  </div>

					  <div class="col micol-18">
					  	<label class="item item-input item-stacked-label">
							<span class="input-label"><b>Compra Precio/Und:</b><span class="asteriscoObligatorio">*</span></span>
							<input type="number" name="precioCompraUnd{{$index}}" ng-model="todoItem.precioCompraUnd" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
						</label>
						<div ng-show="formInsertCompra.precioCompraUnd{{$index}}.$invalid">
	        				<span class="errorMensajeForm" ng-show="formInsertCompra.precioCompraUnd{{$index}}.$error.required">Campo obligatorio.</span>
	        				<span class="errorMensajeForm" ng-show="formInsertCompra.precioCompraUnd{{$index}}.$error.pattern">No se admiten numeros negativos y solo dos decimales.</span>
	            		</div>
					  </div>

					  <div class="col micol-18">
					  	<label class="item item-input item-stacked-label">
							<span class="input-label"><b>Venta Precio/Und:</b><span class="asteriscoObligatorio">*</span></span>
							<input type="number" name="precioVentaUnd{{$index}}" ng-model="todoItem.precioVentaUnd" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
						</label>
						<div ng-show="formInsertCompra.precioVentaUnd{{$index}}.$invalid">
	        				<span class="errorMensajeForm" ng-show="formInsertCompra.precioVentaUnd{{$index}}.$error.required">Campo obligatorio.</span>
	        				<span class="errorMensajeForm" ng-show="formInsertCompra.precioVentaUnd{{$index}}.$error.pattern">No se admiten numeros negativos y solo dos decimales.</span>
	            		</div>
					  </div>

					</div> <!-- FIN ROW -->
				</ion-item>
			</div> <!-- Fin lista -->
			
			<div class="col-offset-90">
					<button class="btnTodo button button-balanced icon ion-plus-round" ng-click="anadirLineaCompra()"></button>
          	</div>

		<div class="row  responsive-sm">
		  	<div class="col">
		  		<button class="button button-block button-positive icon ion-checkmark-round" type="button" ng-disabled="formInsertCompra.$invalid" ng-click="clickInsertarCompra(form)"> Guardar factura</button>
		  	</div>
		  	<div class="col">
		  		<button class="button button-block button-royal icon ion-refresh" type="button" ng-click="reiniciarForm()"> Reiniciar</button>
		  	</div>
		</div>
	</form>

	</ion-content>
</ion-modal-view>


