<ion-view view-title="Perfil Factura">
	<ion-content class="padding">
		<form name="compraForm">
			<div class="item item-divider">Datos factura</div>
			<div class="list">
				<label class="item item-input" ng-class="{ 'errorCampoForm' : servicioForm.nombre.$invalid && visitedNombre}">
						<span class="input-label"><b>Nombre:</b><span class="asteriscoObligatorio">*</span></span>
						<!-- Con ng-init se incializa el ng-model -->
						<input type="text" name="nombre" ng-blur="visitedNombre = true" ng-model="form.nombreServicio" required>
				</label>
				<div ng-show="servicioForm.nombre.$invalid && visitedNombre">
            		<span class="errorMensajeForm" ng-show="servicioForm.nombre.$invalid">Campo obligatorio.</span>
                </div>
			</div>
			<div class="item item-divider">Lineas de la factura</div>
				<ion-item ng-repeat = "elementoServicio in elementosServicio" for={{elementoServicio}}>
					<div class="row responsive-sm">

					  <div class="col">
					  	<label class="item item-input">
							<span class="input-label"><b>Categoría:</b><span class="asteriscoObligatorio">*</span></span>
							<input type="text" name="nombreCategoria{{$index}}" ng-model="elementoServicio.nombreElemento" required>
						</label>
						<div ng-show="formInsertServicio.nombreCategoria{{$index}}.$invalid">
            				<span class="errorMensajeForm" ng-show="formInsertServicio.nombreCategoria{{$index}}.$invalid">Campo obligatorio.</span>
                		</div>
					  </div>

					  <div class="col">
					  	<label class="item item-input">
							<span class="input-label"><b>Precio:</b><span class="asteriscoObligatorio">*</span></span>
							<input type="number" name="precioCategoria{{$index}}" ng-model="elementoServicio.precioVenta" required>
						</label>
						<div ng-show="formInsertServicio.precioCategoria{{$index}}.$invalid">
            				<span class="errorMensajeForm" ng-show="formInsertServicio.precioCategoria{{$index}}.$invalid">Campo obligatorio.</span>
                		</div>
					  </div>
					</div> <!-- FIN ROW -->
				</ion-item>
			<div class="row  responsive-sm">
			  	<div class="col">
			  		<button class="button button-block button-positive icon ion-edit" type="button" ng-disabled="seccionForm.$invalid" ng-click="clickModificarServicio(form)"> Guardar Datos</button>
			  	</div>
			  	<div class="col">
			  		<button class="button button-block button-royal icon ion-refresh" type="button" ng-click="reiniciarForm()"> Reiniciar</button>
			  	</div>
			  	<div class="col">
			  		<button class="button button-block button-assertive icon ion-trash-b" type="button" ng-click="clickEliminarServicio()"> Borrar Servicio</button>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>