<ion-view view-title="Perfil Factura">
	<ion-content class="padding">
		<form name="formModificarFactura">
			<div class="item item-divider">Datos factura</div>
			<div class="list">
				<label class="item item-input">
						<span class="input-label"><b>Proveedor:</b></span>
						<!-- Con ng-init se incializa el ng-model -->
						<input type="text" name="nombrePro" ng-model="nombreProveedor" ng-disabled="nombrePro.$invalid = true" required>
				</label>

				<label class="item item-input">
						<span class="input-label"><b>Valor total factura €:</b></span>
						<input type="text" name="total" ng-model="totalFactura" ng-disabled="total.$invalid = true" required>
				</label>

				<label class="item item-input" ng-class="{ 'errorCampoForm' : formModificarFactura.numFactura.$invalid && visitedNumFac}">
					<span class="input-label"><b>Nº Factura:</b><span class="asteriscoObligatorio">*</span></span>
					<input type="text" name="numFactura" ng-blur="visitedNumFac = true" ng-model="form.numFactura" required>
				</label>
				<div ng-show="formModificarFactura.numFactura.$invalid && visitedNumFac">
	        		<span class="errorMensajeForm" ng-show="formModificarFactura.numFactura.$invalid">Campo obligatorio.</span>
	            </div>

				<label class="item item-input" ng-class="{'errorCampoForm' : formModificarFactura.fecha.$invalid && visitedFecha}">
					<span class="input-label"><b>Fecha de factura:</b><span class="asteriscoObligatorio">*</span></span>
					<input type="date" ng-model="form.fechaCompra" name="fecha" ng-blur="visitedFecha = true" required>
				</label>
				<div ng-show="formModificarFactura.fecha.$invalid && visitedFecha">
					<span class="errorMensajeForm" ng-show="formModificarFactura.fecha.$invalid">Campo obligatorio.</span>
				</div>

				<div class="item item-divider item-text-wrap">Lineas de factura: <span style="color: red">El IVA del 21% se aplicara automaticamente.</span></div>

			  	<ion-item ng-repeat = "todoItem in todoListLineasCompra">
					<div class="row responsive-lg">
					
					<div class="col-10" style="max-width: 3%">
						<button class="btnTodo button button-assertive icon ion-minus-round" style="margin-left: -16px" ng-click="eliminarLineaCompra($index)"></button>
          			</div>

	          			<div class="col">
			          		<label class="item item-input item-select">
							    <div class="input-label"><b>Marca:</b><span class="asteriscoObligatorio">*</span></div>
							    <select ng-model="todoItem.nombre" ng-options="marcas.nombre for marcas in marcas" required>
							    <option value="">Seleccionar...</option>
							    </select>
						  	</label>
	          			</div>
						
					  <div class="col-25">
					  	<label class="item item-input item-stacked-label" style="margin-top: 4px;">
							<span class="input-label"><b>Nombre producto:</b><span class="asteriscoObligatorio">*</span></span>
							<input type="text" name="nombreElemento{{$index}}" ng-model="todoItem.nombreElemento" required>
						</label>
						<div ng-show="formModificarFactura.nombreElemento{{$index}}.$invalid">
	        				<span class="errorMensajeForm" ng-show="formModificarFactura.nombreElemento{{$index}}.$invalid">Campo obligatorio.</span>
	            		</div>
					  </div>

					  <div class="col">
					  	<label class="item item-input item-stacked-label">
							<span class="input-label"><b>Unidades:</b><span class="asteriscoObligatorio">*</span></span>
							<input type="number" name="unidades{{$index}}" ng-model="todoItem.unidades" ng-init="todoItem.unidades = 1" ng-pattern="/^\d*$/" required>
						</label>
						<div ng-show="formModificarFactura.unidades{{$index}}.$invalid">
	        				<span class="errorMensajeForm" ng-show="formModificarFactura.unidades{{$index}}.$error.required">Campo obligatorio.</span>
	        				<span class="errorMensajeForm" ng-show="formModificarFactura.unidades{{$index}}.$error.pattern">Solo numeros enteros.</span>
	            		</div>
					  </div>

					  <div class="col">
					  	<label class="item item-input item-stacked-label">
							<span class="input-label"><b>Compra Precio/Und:</b><span class="asteriscoObligatorio">*</span></span>
							<input type="number" name="precioCompraUnd{{$index}}" ng-model="todoItem.precioCompraUnd" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
						</label>
						<div ng-show="formModificarFactura.precioCompraUnd{{$index}}.$invalid">
	        				<span class="errorMensajeForm" ng-show="formModificarFactura.precioCompraUnd{{$index}}.$error.required">Campo obligatorio.</span>
	        				<span class="errorMensajeForm" ng-show="formModificarFactura.precioCompraUnd{{$index}}.$error.pattern">No se admiten numeros negativos y solo dos decimales.</span>
	            		</div>
					  </div>

					  <div class="col">
					  	<label class="item item-input item-stacked-label">
							<span class="input-label"><b>VentaPrecio/Und:</b><span class="asteriscoObligatorio">*</span></span>
							<input type="number" name="precioVenta{{$index}}" ng-model="todoItem.precioVenta" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
						</label>
						<div ng-show="formModificarFactura.precioVenta{{$index}}.$invalid">
	        				<span class="errorMensajeForm" ng-show="formModificarFactura.precioVenta{{$index}}.$error.required">Campo obligatorio.</span>
	        				<span class="errorMensajeForm" ng-show="formModificarFactura.precioVenta{{$index}}.$error.pattern">No se admiten numeros negativos y solo dos decimales.</span>
	            		</div>
					  </div>

					</div> <!-- FIN ROW -->
				</ion-item>
			</div>

<!-- 			<div class="item item-divider item-text-wrap">Añadir nueva linea</div>
			<div class="col-offset-90">
					<button class="btnTodo button button-balanced icon ion-plus-round" ng-click="anadirLineaCompra()"></button>
          	</div> -->
			<pre>Resputa = {{ respuesta }}</pre> -->
			<pre>form : {{formulario}}</pre>
			<div class="row  responsive-sm">
			  	<div class="col">
			  		<button class="button button-block button-positive icon ion-edit" type="button" ng-disabled="formModificarFactura.$invalid" ng-click="clickModificarFactura(form)"> Guardar Datos</button>
			  	</div>
			  	<div class="col">
			  		<button class="button button-block button-royal icon ion-refresh" type="button" ng-click="reiniciarForm()"> Reiniciar</button>
			  	</div>
			  	<div class="col">
			  		<button class="button button-block button-assertive icon ion-trash-b" type="button" ng-click="clickEliminarServicio()"> Borrar Servicio</button>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>