<ion-modal-view>
	<ion-header-bar class="bar-calm">
	  <h1 class="title">Añadir cita</h1>
	  <a class="button button-assertive icon ion-close-round" ng-click="closeModal()">Cerrar</a>
	</ion-header-bar>
	<ion-content class="padding">
	  
	<form name="formInsertarCita">
	<div class="item item-divider">Datos de la cita</div>
		<div class="list">
		
		<label class="item item-input" ng-class="{ 'errorCampoForm' : formInsertarCita.nombre.$invalid && visitedNombre}">
			<div class="input-label"><b>Nombre: </b><span class="asteriscoObligatorio">*</span></div>	
		  	<input type="text" name="nombre" ng-blur="visitedNombre = true" list="clientes" ng-model="form.tituloCita" autocomplete="off" required />
			<datalist id="clientes" autocomplete="true">
			  <option ng-repeat="item in nombres" value="{{item.nombre}} {{item.apellido1}} {{item.apellido2}}"></option>
			</datalist>
		</label>
		<div ng-show="formInsertarCita.nombre.$invalid && visitedNombre">
        	<span class="errorMensajeForm" ng-show="formInsertarCita.nombre.$invalid">Campo obligatorio.</span>
        </div>

		  <label class="item item-input" ng-class="{'errorCampoForm' : formInsertarCita.fecha.$invalid && visitedFecha}">
		    <div class="input-label"><b>Fecha cita: </b><span class="asteriscoObligatorio">*</span></div>
		    <input type="date" ng-model="form.fecha" name="fecha" ng-blur="visitedFecha = true" required>
		  </label>
		  <div ng-show="formInsertarCita.fecha.$invalid && visitedFecha">
        	<span class="errorMensajeForm" ng-show="formInsertarCita.fecha.$invalid">Campo obligatorio.</span>
       	  </div>

		  <label class="item item-input" ng-class="{'errorCampoForm' : formInsertarCita.horaIni.$invalid && visitedHoraIni}">
		    <div class="input-label"><b>Hora inicio: </b><span class="asteriscoObligatorio">*</span></div>
		    <input type="time" ng-model="form.horaIni" name="horaIni" ng-blur="visitedHoraIni = true" required >
		  </label>
		  <div ng-show="formInsertarCita.horaIni.$invalid && visitedHoraIni">
        	<span class="errorMensajeForm" ng-show="formInsertarCita.horaIni.$error.required">Debe de seleccionar una hora de inicio de la cita.</span>
          </div>

		  <label class="item item-input">
		    <div class="input-label"><b>Hora Fin: </b><span class="asteriscoObligatorio">*</span></div>
		    <input type="time" name="horaFin" ng-model="form.horaFin" ng-disabled="horaFin.$invalid = true">
		  </label>
		</div>

		<div class="row  responsive-sm">
		  	<div class="col">
		  		<button class="button icon ion-checkmark-round button-positive button-block" type="button" ng-disabled="formInsertarCita.$invalid" ng-click="clickInsertarCita(form)"> Guardar cita</button>
		  	</div>
		</div>
	</form>

	</ion-content>
</ion-modal-view>


