<ion-modal-view>
	<ion-header-bar class="bar-calm">
	  <h1 class="title">Añadir proveedor</h1>
	  <a class="button button-assertive icon ion-close-round" ng-click="closeModal()">Cerrar</a>
	</ion-header-bar>
	<ion-content class="padding">
	  
	<form name="formInsertProveedor">
		<div class="item item-divider">Datos proveedor</div>
			<div class="list">

				<label class="item item-input" ng-class="{ 'errorCampoForm' : formInsertProveedor.nombre.$invalid && visitedNombre}">
					<span class="input-label"><b>Nombre:</b><span class="asteriscoObligatorio">*</span></span>
					<input type="text" name="nombre" ng-blur="visitedNombre = true" ng-model="form.nombre" required>
				</label>
				<div ng-show="formInsertProveedor.nombre.$invalid && visitedNombre">
            		<span class="errorMensajeForm" ng-show="formInsertProveedor.nombre.$invalid">Campo obligatorio.</span>
                </div>

                <label class="item item-input" ng-class="{ 'errorCampoForm' : formInsertProveedor.telefono.$invalid && visitedTel}">
			    	<span class="input-label"><b>Teléfono:</b></span>
			    	<input type="tel" name="telefono" ng-model="form.telefono" ng-blur="visitedTel = true" minlength="9" maxlength="9">
			  	</label>
			  	<div ng-show="formInsertProveedor.telefono.$invalid && visitedTel">
            		<div class="errorMensajeForm" ng-show="formInsertProveedor.telefono.$error.minlength">El numero de telefono tiene que tener 9 digitos.</div>
                </div>

				<label class="item item-input">
					<span class="input-label"><b>Correo electrónico:</b></span>
					<input type="email" name="email" ng-model="form.email">
				</label>

				<label class="item item-input">
					<span class="input-label"><b>Localidad:</b></span>
					<input type="text" name="localidad" ng-model="form.localidad">
				</label>

				<label class="item item-input">
					<span class="input-label"><b>Dirección:</b></span>
					<input type="text" name="direccion" ng-model="form.direccion">
				</label>

				<div class="item item-divider">Añadir marcas</div>
				<ion-item ng-repeat = "todoItem in todoListInsertarMarca">
					<div class="row">
					  <div class="col-5">
						<button class="btnTodo button button-assertive icon ion-minus-round" ng-click="eliminarNuevaMarca($index)"></button>
      				  </div>
						
					  <div class="col">
					  	<label class="item item-input">
							<span class="input-label"><b>Nueva marca:</b><span class="asteriscoObligatorio">*</span></span>
							<input type="text" name="nombreNewMarca{{$index}}" ng-model="todoItem.newMarca" required>
						</label>
						<div ng-show="formInsertProveedor.nombreNewMarca{{$index}}.$invalid">
	        				<span class="errorMensajeForm" ng-show="formInsertProveedor.nombreNewMarca{{$index}}.$invalid">Campo obligatorio.</span>
	            		</div>
					  </div>
					</div> <!-- FIN ROW -->
				</ion-item>

				<div class="row">
					<div class="col-offset-90">
							<button class="btnTodo button button-balanced icon ion-plus-round" ng-click="anadirNuevaMarca()"></button>
		          	</div>
	          	</div>

				<div class="row  responsive-sm">
				  	<div class="col">
				  		<button class="button button-block button-positive icon ion-checkmark-round" type="button" ng-disabled="formInsertProveedor.$invalid" ng-click="clickInsertarProveedor(form)"> Guardar proveedor</button>
				  	</div>
				  	<div class="col">
				  		<button class="button button-block button-royal icon ion-refresh" type="reset"> Reiniciar</button>
				  	</div>
				</div>

			</div><!-- Fin lista  -->
	</form>

	</ion-content>
</ion-modal-view>


