<ion-view view-title="Perfil Proveedor">
	<ion-content class="padding">
	  
	<form name="proveedorForm">
		<div class="item item-divider">Datos proveedor</div>
			<div class="list">

				<label class="item item-input" ng-class="{ 'errorCampoForm' : proveedorForm.nombre.$invalid && visitedNombre}">
					<span class="input-label"><b>Nombre:</b><span class="asteriscoObligatorio">*</span></span>
					<input type="text" name="nombre" ng-blur="visitedNombre = true" ng-model="form.nombre" required>
				</label>
				<div ng-show="proveedorForm.nombre.$invalid && visitedNombre">
            		<span class="errorMensajeForm" ng-show="proveedorForm.nombre.$invalid">Campo obligatorio.</span>
                </div>

                <label class="item item-input" ng-class="{ 'errorCampoForm' : proveedorForm.telefono.$invalid && visitedTel}">
			    	<span class="input-label"><b>Telefono:</b></span>
			    	<input type="tel" name="telefono" ng-model="form.telefono" ng-blur="visitedTel = true" minlength="9" maxlength="9">
			  	</label>
			  	<div ng-show="proveedorForm.telefono.$invalid && visitedTel">
            		<div class="errorMensajeForm" ng-show="proveedorForm.telefono.$error.minlength">El numero de telefono tiene que tener 9 digitos.</div>
                </div>

				<label class="item item-input">
					<span class="input-label"><b>Email:</b></span>
					<input type="email" name="email" ng-model="form.email">
				</label>

				<label class="item item-input">
					<span class="input-label"><b>Localidad:</b></span>
					<input type="text" name="localidad" ng-model="form.localidad">
				</label>

				<label class="item item-input">
					<span class="input-label"><b>Dirección:</b></span>
					<input type="text" name="direccion" ng-model="form.direccion">
				</label>
				
				<div class="item item-divider">Marcas del proveedor</div>

				<!-- Mensaje de error -->
				<div class="card" ng-class="animacion">
			      <div class="item item-icon-left msgError">		
			      <i class="icon ion-alert-circled"></i>
			      <span ng-bind-html="mensajeError" class="item-text-wrap"></span>
			      </div>
			    </div>
			    
				<ion-item ng-repeat = "elementoMarca in elementosMarca" for={{elementoMarca}}>
					<div class="row">

					 <div class="col-5" style="margin-right: 20px;">
						<button class="btnTodo button button-assertive icon ion-minus-round" ng-click="eliminarMarcaExistente($index,elementoMarca.id_marca,elementoMarca.nombreMarca)"></button>
      				  </div>

					  <div class="col">
						<label class="item item-input" ng-class="{ 'errorCampoForm' : proveedorForm.marca{{$index}}.$invalid && visitedMarca}">
							<span class="input-label"><b>Marca:</b><span class="asteriscoObligatorio">*</span></span>
							<input type="text" name="marca{{$index}}" ng-blur="visitedMarca = true" ng-model="elementoMarca.nombreMarca" required>
						</label>
						<div ng-show="proveedorForm.marca{{$index}}.$invalid && visitedMarca">
		            		<span class="errorMensajeForm" ng-show="proveedorForm.marca{{$index}}.$invalid">Campo obligatorio.</span>
		                </div>
					  </div>

					</div> <!-- FIN ROW -->
				</ion-item>

				
				<div class="item item-divider">Añadir nuevas marcas</div>
				<ion-item ng-repeat = "todoItem in todoListNuevasMarcas">
					<div class="row">
					  <div class="col-5" style="margin-right: 20px;">
						<button class="btnTodo button button-assertive icon ion-minus-round" ng-click="eliminarNuevaMarca($index)"></button>
      				  </div>
						
					  <div class="col">
					  	<label class="item item-input">
							<span class="input-label"><b>Nueva marca:</b><span class="asteriscoObligatorio">*</span></span>
							<input type="text" name="nombreNewMarca{{$index}}" ng-model="todoItem.newMarca" required>
						</label>
						<div ng-show="proveedorForm.nombreNewMarca{{$index}}.$invalid">
	        				<span class="errorMensajeForm" ng-show="proveedorForm.nombreNewMarca{{$index}}.$invalid">Campo obligatorio.</span>
	            		</div>
					  </div>
					</div> <!-- FIN ROW -->
				</ion-item>


				<div class="row">
					<div class="col-offset-90">
							<button class="btnTodo button button-balanced icon ion-plus-round" ng-click="anadirNuevaMarca()"></button>
		          	</div>
	          	</div>
			</div><!-- Fin lista  -->

			<div class="row  responsive-sm">
			  	<div class="col">
			  		<button class="button button-block button-positive icon ion-edit" type="button" ng-disabled="proveedorForm.$invalid" ng-click="clickModificarProveedor(form)"> Guardar cambios</button>
			  	</div>
			  	<div class="col">
			  		<button class="button button-block button-royal icon ion-refresh" type="button" ng-click="reiniciarForm()"> Reiniciar</button>
			  	</div>
			  	<div class="col">
			  		<button class="button button-block button-assertive icon ion-trash-b" type="button" ng-click="clickEliminarProveedor(form.nombre)"> Borrar proveedor</button>
				</div>
			</div>
		</form>
	</ion-content>
</ion-view>