/* Empty. Add your own CSS if you like */
.msgError{
	text-align: center;
	color: red;
	font-weight: bold;
}

.msgErrorNombre{
  color: black;
  text-decoration: underline;
}

/*Modificar el tamaño del popup*/
.tamanoPopup .popup{
    width: 600px !important;
}

.btnAnadir{
  border-radius: 49%;
  bottom: 5%; 
  position: fixed; 
  right: 5%; 
  width: 60px;
  box-shadow: 2px 2px 5px #888888;
  height: 60px;
}

.btnTodo{
  border-radius: 49%;
  box-shadow: 2px 2px 5px #888888;
  width: 50px;
  height: 50px;
}

.micol-4{
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -moz-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  -webkit-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 4%;
}

#btnHacerFoto{ 
	top: 79px;
    margin: 0 auto;
    border-radius: 49%;
    width: 60px;
    height: 60px;
    box-shadow: 2px 2px 5px #888888;
    position: fixed;
    z-index: 10;
}

/*Posicionamieto del list de los clientes*/
.miBar-subheader{
	top: 45px;
}

.popup-open .popup{
	width: 300px;
}

#fondoImgPerfil{
  text-align: center;
    background-color: white;
    height: 147px;
}

#fondoImgPerfil > img{
  
  border: 10px solid white;
  margin-top: 20px;
  z-index: 1000;
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.login-view-fondo{
	background-image: url(../img/fondoLogin.jpg);
	width: 100%;
	height: auto;
	background-size: cover;
}

.bar-stable.login{
	opacity: 0.9;
}

.list.login{
	opacity: 0.9;
}

.numeracionServCliente{
	line-height: 4.7em; 
	font-weight: bold; 
	font-size: 14pt;
}

.openSesame1{
	color: red;
	background-color: yellow;
}

.errorCampoForm{
	border: 2px solid red;
	opacity: 0.9;
}

.errorMensajeForm{
	color: red;
	font-weight: bold;
}

.asteriscoObligatorio{
	color: red;
	font-style: bold;
}

.avatarMissCliente{
	position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.avatarMissProducto {
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: 80px;
    max-height: 80px;
    width: 100%;
    height: 100%;
}

.alertStyle > .popup{
	width: 500px;
}

#fotoPerfilSideMenu{
  border-radius: 50%;
  border: 1px solid black;
  margin-top: 20px;
  z-index: 1000;
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#fondoPerfilSideMenu{
	text-align: center;
	margin: 0 auto;
  background: white;
}

.nombreUsuarioSideMenu{
text-align: center;
text-transform: capitalize;
}

.transparent {
  background: transparent !important;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.leyendaColores {
    background-color: #444;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    float: left;
}

.leyendaColores1 {
    background-color: #886aea;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    float: left;
}

#box1{
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.noresumido{
	background-color: #fdf2d1 !important;
}
.noresumido .item-content{
	background: transparent;
}

@media only screen and (min-device-width:320px){
  .col-offset-90 {
      margin-left: 80%;
  }
}

/*Modal tablets*/
@media (min-width: 680px) {
  .col-offset-90 {
      margin-left: 90%;
  }
  .modal {
    top: 0px !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) > * {
    margin-top: 20px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-header:not(.bar-subheader) {
    height: 64px;
  }
  .platform-ios.platform-cordova .modal-wrapper .modal .has-header,
  .platform-ios.platform-cordova .modal-wrapper .modal .bar-subheader {
    top: 64px;
  }

  .micol-4{
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -moz-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  -webkit-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 10%;
}

  .micol-18{
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -moz-flex: 0 0 10%;
  -ms-flex: 0 0 10%;
  -webkit-flex: 0 0 10%;
  flex: 0 0 10%;
  max-width: 18%;
}

  .micol-15{
  max-width: 15%;
}

  .micol-20{
  max-width: 20%;
}

  .micol-22{
  max-width: 22%;
}

  .micol-25{
  max-width: 25%;
}

  .micol-28{
  max-width: 28%;
}

  .micol-50{
  max-width: 50%;
}

  .precioTotalVenta{
  max-width: 35%;
  margin-top: -21px;
}







}

#divFotoPerfil .scroll{
  transform: none !important;
}

.list .item-radio .item-content {
  background-color: white;
  color: black;
}
.list .item-radio .radio-icon {
  background-color: grey;
  color: black;
}
.item-radio input:checked + .radio-content .item-content {
    /* style the item content when its checked */
    background: grey; 
}

#comment-textarea {
    background-color: white;
  
/*     width: 90%;
    height: 75%;*/


    //border: solid 1px #ddd;
}

